[2016-07-01 05:59] robertherber opened #293 "Feature request: Live example data"
I would love an option that provided live example data in the documentation (similar to [Stripe](https://stripe.com/docs/api)), so that when not specifying an explicit example it would output the latest validated value.

`Joi.number().example(5) //example: 5`

`Joi.number() //example: 5`

This would of course not be for production use (obvious security and performance reasons), but would be a grea

[2016-07-02 16:46] varmint09 commented on #293
Surely the type should be specific enough to make it obvious; if the number needs to be an integer like 5, and not just any number... use integer?

This might just mask issues with the validation from a code side, by providing an overly specific set of instructions.

The Stripe documentation doesn't say example values where it's common sense, the documentation just says its a pagination parameter.

[2016-07-04 08:11] glennjones commented on #293
HI I am not a 100% sure I understand what your use case is for this. Also what you mean by 'live'.

Are you asking for someway to set default example values for each JOI type.  If that is the case I was building something like that for a project which still only half built. It based on the much smaller set of OpenAPI (swagger) types.

https://github.com/glennjones/swagger-exemplar

[2016-07-04 08:19] glennjones commented on #292
Hi

You have to create a custom page, there is no way to switch off elements of the documentation page.

1. Create a new page in your page and make sure it is served correctly by HAPI.
2. In the "custom page" section of the readme https://github.com/glennjones/hapi-swagger#adding-the-interface-into-your-own-custom-page copy the large JavaScript code block and the smaller HTML code example into you

[2016-07-04 13:36] robertherber commented on #293
Maybe I didn't make the use-case clear enough. Let's use Stripe as an example here, where I want to create a customer and later on charge that customer. When I make the initial call to create the customer the documentation shows that exact response [here](https://stripe.com/docs/api#create_customer). This means that the documentation can provide way more assistance to me as a developer:

- Easily

[2016-07-04 13:51] xargi opened #295 "Providing examples to request params generates invalid swagger.json"
I have a route definition as follows:

[code]

Hapi-swagger produces the following spec for the route:
[code]

Attempting to validate this causes a validation error: "Additional properties not allowed: example" for the parameters block. Removing the examples from the Joi-schema for the parameters causes the generated swagger.json to pass validation.

[2016-07-04 23:57] bencooling commented on #272
Is it possible to customise this hapi plugin with the jensoleg/swagger-ui theme? Reading @skeep's comment it's not currently possible?

[2016-07-05 20:29] varmint09 commented on #292
Hi,

I tried this, and serve the file as a response to / with reply.file

I use the HTML provided and nothing gets parsed, including the hapiSwagger object... is there any configuration needed elsewhere? I mean the /documentation url still works but not when I try a custom view.

Is the HTMl provided still working? Like I say its not parsing right.

[2016-07-05 22:16] varmint09 commented on #292
Does it need handlebars or something else enabled? Whats the best way to do that;

[code]

[2016-07-06 11:51] Calavoow opened #296 "Adding output validation removes required() from fields"
When adding output validation to Hapi, the validation schema is not added to the swagger documentation, an example of which I've given in #277 in [this comment](https://github.com/glennjones/hapi-swagger/issues/277#issuecomment-229027846).

Furthermore, if I add a validation schema to my endpoint, and I manually add a schema to the 'hapi-swagger' plugin, the required() fields are removed from the

[2016-07-14 09:33] Eirik81 opened #299 "Using Joi.lazy causes /docs webpage to fail"
I'm using hapi-swagger 6.1.0 and joi 9.0.0. When using Joi.lazy for response validation loading the /docs webpage fails with this message:

<pre>
500 : {"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}
http://localhost:9999/swagger.json
</pre>

In the console I get this error:
<pre>
160714/104936.718, [error], message: Uncaught error: Cannot read prop

[2016-07-21 10:00] glennjones commented on #296
PR added to repo, fix will be included in next release. Thanks for pointing out this issue

[2016-07-21 10:00] #296 closed

[2016-07-21 15:10] glennjones commented on #299
I need to have a look at the OpenAPI spec and SwaggerUI to see if they both recursive schemas, which seems to be the main use case for `Joi.lazy`.  I am worried the UI design is not built to visually describe recursive objects.

For the time I have mark this issue as an enhancement and will add this new JOI feature as a unsupported in the `hapi-swagger` readme.

[2016-07-22 09:10] glennjones commented on #290
Sorry its taken me so long to answer this issue.

The current code defaults to a string if the type cannot be found or understood in term of OpenAPI/Swagger spec .

I have had a look at the OpenAPI/Swagger spec and its does not look like it supports typing individual items in an array. Cannot not see any work around for this so I am going to add `array.ordered(type)`  as an unsupported feature in

[2016-07-22 09:10] #290 closed

[2016-07-22 11:02] glennjones commented on #295
Thanks for pointing this out fix in v6.2.0.

Its now formatted in JSON as `x-example` which will validate correctly.

[2016-07-22 11:02] #295 closed

[2016-07-22 14:14] Calavoow commented on #290
Thanks. In strongly typed languages this is simply a tuple, so hopefully it can be added some time.

[2016-07-23 15:44] WonderToys opened #301 "Incorrect example data for Arrays with specified length"
Given the following model

[code]

I am unable to get hapi-swagger to generate the correct example data. I am also unable to get it to specify that the array expects 2 items, and always two items. For the example data, I keep getting just `[ 0 ]` when I'd expect `[ 0, 0 ]` or, better yet, the example I provided in the schema.

[2016-07-26 16:01] 5c077yP opened #302 "File Upload Accept Type"
Hey,

this is not an issue, but just a question. I saw hapi-swagger is supporting file uploads, which is amazing thanks for that! Now i'm wondering if it is also possible to define the content-type of this file (which was can be set wit the *accept* attribute in an input field) ? I couldn't find it on the docs, so i guess it's not there.

Thanks again for this amazing plugin!

[2016-07-29 01:13] ecowden opened #303 "Error with Array of Arrays"
I've been working with datasets recently and was trying to represent a list of points, where each point is a two element array, like:

[code]

I've tried several variations of specifying an array of arrays like,

[code]

I receive an error in the browser:

<img width="878" alt="screen shot 2016-07-28 at 8 10 39 pm" src="https://cloud.githubusercontent.com/assets/1668988/17234531/8027d884-54ff-11e6

[2016-08-01 13:31] glennjones commented on #303
This looks like it maybe a bug in the SwaggerUI lib code. The swagger.json endpoint has the valid JSON . You can test this by coping the JSON from the `/swagger.json` endpoint and pasting it into swagger linter http://bigstickcarpet.com/swagger-parser/www/index.html

The error seems to be around referencing a definition object within the SwaggerUI code.

A work around is to set the hapi-swagger `o

[2016-08-01 13:31] #303 closed

[2016-08-01 14:04] glennjones commented on #302
Hi I have had a quick look at the OpenAPI/Swagger spec and the documentation for SwaggerUI and cannot see a way to add mime type list for the accept attribute in an input field.

It would be a useful property to add, but its needs to be support by OpenAPI/Swagger spec before I can do that. I will close this issue for now, but if it ever is supported by SwaggerUI I will add it to the plugin

[2016-08-01 14:04] #302 closed

[2016-08-01 14:05] 5c077yP commented on #302
Thanks

[2016-08-01 19:47] BuffCoder opened #305 "Joi 9.0.0-3+ causes arrays of objects examples to not display correctly"
I recently upgraded to Joi 9.0.4 and noticed my swagger documention for arrays of objects is displaying as follows:
<img width="169" alt="screen shot 2016-08-01 at 2 45 31 pm" src="https://cloud.githubusercontent.com/assets/6673263/17306614/a01fe79a-57f6-11e6-9a16-797078a626fc.png">

I played around with the versions and found the same code works on Joi 8.4.1 to display things correctly:
<img widt

[2016-08-02 08:46] glennjones commented on #305
Hi Have you updated to the latest versions of `hapi-swagger` either v6.2.0 or v6.2.1  If you are on one of theses versions and still having issues let me know.

[2016-08-02 12:25] BuffCoder commented on #305
Shoot, that would do it.  Could have sworn I updated.  Sorry about that, thanks for the quick reply!

[2016-08-02 12:25] #305 closed

[2016-08-03 03:47] rokoroku commented on #33
Hi. I found your experimental support of alternatives.try().
However, why not for alternatives.when()?

So I wrote this code for example: https://github.com/rokoroku/hapi-swagger/commit/9e193156a8ce36d892124acdf88071bdef01f75c

[2016-08-03 05:24] dev0x10 opened #306 "[Question] Swagger UI Does Not Show Any Documentation"
I'm wondering why my swagger ui only showing **'fetching resource list: http://localhost:8001/swagger.json; Please wait.'**
My server has label 'api' and some routers has tags 'api'.
It supposed to display all tagged routes, isn't it?

[2016-08-03 07:39] glennjones commented on #306
Hi

Yes it should show your tagged routes. You can get this message for a couple of reasons:
* The XHR request for the JSON failed
* SwaggerUI cannot parse the JSON/data correctly

First look in the the browsers debugger and fined out which of the above is the problem.

If the is issue is that "SwaggerUI cannot parse the JSON/data correctly" then narrow down the routes to one that causes the probl

[2016-08-03 08:26] glennjones commented on #33
Hi Interesting bit of code. It seems to map out a static representation without reference to the logic elements of  `is`, `then` and `otherwise`.  As you say listing the alternative models.

I am caught between using this level of representation of alternatives.when() models and adding something that would allow a fuller representation with logic. The test of the fuller version been that you could

[2016-08-03 11:30] rokoroku commented on #33
Since alternatives with comprehensive logic are hard to be documented in tools like swagger, we should describe the logic to the implementation note or other wiki.

The test code I wrote is just for showing a simple usage of alternatives. Maybe representing the logic could be achieved by adding something like 'x-condition' parameters to them, but it is just an idea ;)

[2016-08-03 13:08] dev0x10 commented on #306
@glennjones well not sure what happened, I just try re-install the modules and now it works fine.
Thanks! 👍

[2016-08-03 13:15] glennjones commented on #292
Yes the plug-in pathing information and other data is passed into the the template code. The plug-in does the automatically for routes served as a template and its already running handlebars.

The easy way to see this in action:

* Get the latest version  v6.2.2
* In command line go to the `hapi-swagger` directory
* Load all the the dependencies `$ npm install`
* Start the custom example `$ node e

[2016-08-03 13:15] #292 closed

[2016-08-03 14:20] dev0x10 commented on #306
the error comes again
I see this error on browser console:
`spec-converter.js:244Uncaught TypeError: Cannot read property '$ref' of undefined`

No error at all on server side

Here is server side swagger code:
[code]

[2016-08-03 14:37] dev0x10 commented on #306
Ok I found the culprit

one of my router validator is not complete:
[code]

[2016-08-03 14:39] glennjones commented on #244
There is now a new feature called `pathReplacements` is in current release and documentation has just been updated and will be in next release.

It can fix the grouping of paths such as:
`/api/user.get`
`/api/user.search`

There is an example in the github repo `examples/dot-grouping.js` which demo's how it works.

Took a while but you have your fix

[2016-08-03 14:39] #244 closed

[2016-08-03 14:55] glennjones commented on #33
For now I am happy to go with what you built. Maybe we look at something like 'x-condition' parameters if the use case for it comes up in the real world.

Could you send code changes as a PR to my repo and I will put in the next release, which I am working on now.  Cheers

[2016-08-03 15:06] glennjones commented on #306
OK, its errors on the empty object in the array.  The following works:
[code]
I will have a look to see if its an issue with my `swagger.json` output or something the swagger spec does not allow.

[2016-08-03 19:32] dev0x10 commented on #306
Swagger UI parser failed on that. There should be an error thrown for that kind of invalid object.
Anyway thanks again 👍
I'll let you close this issue if you have no other comment

[2016-08-04 01:52] rokoroku commented on #33
Great! I just create PR :) https://github.com/glennjones/hapi-swagger/pull/307

[2016-08-05 16:13] kizzlebot opened #308 "Need a way to explicitly declare input html element type"
There needs to be a way to specify the type of input field to use for `swagger-ui` (ie textarea/input box, or even better Codemirror).  Can `hapi-swagger` provide configuration options to specify a custom `.js` file to modify the ui or provide a way to specify it using `Joi`.  I dont want to have to duplicate the swagger-ui html file and make a whole lot of changes just to change an input field to

[2016-08-05 22:23] irothschild commented on #283
I took a look a look at the code and it seems it's looking up and caching $ref models in the definitions collection. Shouldn't it just be looking up the base definition and if it's there make a reference and return it without adding it to the collection?

For each model, in my "definitions" I have:
[code]

[2016-08-08 14:43] #306 closed

[2016-08-09 11:01] antonsamper opened #309 "Disabling Swagger UI"
In the documentation it mentions that if you want to disable the documentation and just have the `swagger.json` generated then all you need to do is add ` options.enableDocumentation: false`, however ran into dependency issues when i tried it.

I found where it happens in the code...
[code]

... and as both `enableDocumentation` and `enableSwaggerUI` are `true` by default then it goes inside the s

[2016-08-10 10:26] rmeissn opened #310 "Path for languages and translations won't work with Hapi 14.1.0"
Starting with Hapi 14.1.0, hapi-swagger inserts too many slashes into the language and translations requests. Like:
[code]

resulting in 403 - forbidden status codes.

seems to be similar or to be a regression to https://github.com/glennjones/hapi-swagger/pull/273

[2016-08-10 19:17] 24X7 opened #311 "SwaggerUI for POST with Dynamic Path Fails"
I have a path that looks like this:

[code]

config section looks like this:

[code]

However in the swagger ui when I populate the url based parameter for POST it does not update it, but it does for GET.

Is there another setting that needs to be done or is this actually a bug?  I am investigating in the swagger UI now but figured worth getting out there.

[2016-08-11 04:34] aliismael opened #312 "Error with array of arrays"
Gentleman,

Thank you so much in advance.

I have a hapi endpoint defined as this:

[code]

The lines  above specify a Joi schema involving an array of arrays.  hapi-swagger fails in the browser to render the swagger-ui page, and the error in the browser is:

**_Uncaught TypeError: Cannot read property '$ref' of undefinedResolver.resolveTo @ spec-converter.js:244Resolver.resolveTo @ spec-converter

[2016-08-11 09:29] glennjones opened #313 "Always enforce a version property for info object"
Part of the OpenAPI spec

[2016-08-11 13:40] jsumners opened #314 "Response description for an array of objects?"
[code]

This results in the generated documentation describing the result model as:

[code]

Am I doing it wrong?

[2016-08-11 13:51] glennjones commented on #314
Yes I am looking into at moment. Hopefully have an update soon

[2016-08-12 09:42] glennjones commented on #312
Hi
I have just tried this with my current local copy and its seems to work without error. Can you check that your using the latest version.  v6.2.0

I am just about to release a v7 today so it would be good to this issue sorted before then

Glenn

[2016-08-12 10:02] glennjones commented on #311
HI
Path parameters with `*` are not supported as there is no equivalent in the current OpenAPI (swagger) spec. Its in the readme as unsupported. Sorry for the silent failure, maybe I should look for the pattern and tell people it does not work.
[code]
[code]
Will above code will work, hope that helps

[2016-08-12 18:26] mmc41 opened #315 "Regular expressions in Joi should be represented 1-1 as patterns in swagger output"
I love that hapi-swagger f.x. can translate Joi.string().min(3).max(20) into {"type":"string","minimum":3,"maximum":20} in the swagger output. Very, very cool!

I would really like if Joi.string().regex(/^[a-zA-Z0-9]{3,30}/) are also translated into {"type":"string","pattern":"[a-zA-Z0-9]{3,30}"}. Properly easy to do such a 1-1 mapping but very, very useful and powerful.

[2016-08-12 22:37] aliismael commented on #312
Hi Glen,

I have found the cause for the issue I opened.   I am immensely indebted to you for all your contributions, and decided to try to help you with this issue, but your understanding of the code surpasses mine.  I am going to submit a pull request, subject of course to your vetting and verification.

I know you are about to release version  7 of this valuable module.  Please feel free to con

[2016-08-13 18:47] nicolaifsf opened #318 "String Maximum -> maxLength"
According to this standard http://json-schema.org/latest/json-schema-validation.html#anchor26
strings should be limited with maxLength and minLength as opposed to minimum and maximum

[2016-08-14 14:06] glennjones commented on #313
Done with a default of '0.0.1' and enforce with `Joi.required()` on `info` object. Due for release in v7.0.0

[2016-08-14 14:06] #313 closed

[2016-08-14 20:53] vinkaga opened #319 "Working with Hapi 14.x"
The README.md writes

But `package.json` seems to imply that it works with 14.x
[code]
Does it work with Hapi 14.x?

[2016-08-14 21:48] vinkaga commented on #314
+1. I have the same issue, seeing this as GET model
[code]

[2016-08-16 06:23] nicolaifsf commented on #318
👍 thanks!

[2016-08-16 06:23] #318 closed

[2016-08-16 07:46] glennjones commented on #318
Should be in next version v7.0.0 our in next couple of days. Thanks for point this out, was not very clear in swagger spec. Shame it not used by SwaggerUI to limit input

[2016-08-16 07:51] glennjones commented on #312
Working on this at moment could take a couple more days as I am rewriting parts of the plugin to try and get this element to work more elegantly so its maintenance is less painful.

[2016-08-16 07:53] aliismael commented on #312
Hi Glenn,

Many thanks for all your efforts, please take your time, and thank you so
much.

Yours truly,
Ali

Yours truly,

Ali Ismael, Ph.D.
Gaaiat, Inc

On Tue, Aug 16, 2016 at 12:51 AM, Glenn Jones <notifications@github.com>
wrote:

[2016-08-16 15:08] shinzui opened #321 "JSON obj examples stopped working after upgrading to 6.2.2"
Hi,

All the examples stopped working after upgrading from `5.1.0`  to `6.2.2`. I am attaching a screenshot of the broken example value which used to work before the upgrade.

![image](https://cloud.githubusercontent.com/assets/519/17703936/2da0852e-6388-11e6-8252-a24704732c08.png)

And here is an excerpt of my validation rules.

[code]

[2016-08-16 20:21] FGRibreau commented on #319
@vinkaga yes it does :)

[2016-08-18 11:44] ns3777k opened #322 "Internal Server Error with Joi extension"
Hey.

Joi allows you to develop an extension, so I made a simple one - https://github.com/Dalee/joi-extension-msisdn/blob/master/src/index.js.

As you can see, its type is `msisdn`. So I made use of it in `hapi route`:

[code]

Everything works fine except `hapi-swagger` :smile:
It goes down with the following error in console:

[code]

The problem seems to be in `lib/properties.js:145` when it tr

[2016-08-20 18:02] stjohnjohnson commented on #318
Hey @glennjones any update on that release?

[2016-08-21 03:23] nicolaifsf opened #323 ".date() vs .date().isoDate()"
There does not seem to be any difference in the generated swagger spec when using .date() versus .date().isoDate()

[2016-08-21 08:59] glennjones commented on #323
Hi you are right, there is no mapping between .date().isoDate() and the date features of swagger. I left it out as one system uses the full ISO spec and the other is the RFC3339 profile or subset. Its a small difference, but I have yet to have the time to go back through what the mismatch would mean in real terms.

As far as I can tell SwaggerUI does not do any client side validation for dates, so

[2016-08-21 09:21] glennjones commented on #318
Sorry. I am still working on a painful reorganisation of the plugins code to improve its JSON output. Its one of those times you pull at a small issue and before you know it your having to rebuild some of the code base. If I had known how much time was needed for the JSON output issue I would of setup the releases differently.

I am hoping to get v7 in the next couple of days, but its already take

[2016-08-21 23:10] stjohnjohnson commented on #318
Oh hey, no worries.  Didn't realize there was still on-going work.  Thought the release was already ready.  My bad.

[2016-08-25 09:43] glennjones commented on #322
Hi thanks for posting the issue with examples it makes it a lot easy to understand.

Yes  `hapi-swagger` will support `Joi.extend()` only if the extension code is built on top of a JOI `base` property such as `string` or `number`. There is a examples of this in https://github.com/glennjones/hapi-swagger/blob/master/examples/extend.js (v7.0.0) Its a copy of the example in JOI API documentation.

As

[2016-08-25 09:56] glennjones commented on #321
Hi  Yes I have been having problems with `example` property they are only valid in certain areas of the Swagger JSON.  The plugin shares and reuse structures within the JSON to keeps its size small and increase the speed of parsing JOI objects. This means the shared object can be used both in a place where an `example` is allowed and also where it is not.

I am sorry about the regression here. I n

[2016-08-25 10:00] glennjones commented on #319
Hi sorry the documents where out of date, it did work with Hapi 14.x. at the time you posted your issue.

Just released v7.0.0 of `hapi-swagger` and have changed the documentation and made sure its works with Hapi 15.x. which coming out at the end of the week

[2016-08-25 10:00] #319 closed

[2016-08-25 10:03] glennjones commented on #315
You will find support for regex in v7.0.0, which I have just released

[2016-08-25 10:03] #315 closed

[2016-08-25 10:10] glennjones commented on #314
Hi I have rewritten the part of the plugin that deals with array and object recursion, which was causing the issues with the parsing of `JOI.array()` and `JOI.object()` structures. I am hopeful that this should have fix your issue in v7.0.0.

Can you download v7.0.0 and tell me if its fixed your issue

Thanks

[2016-08-25 10:11] glennjones commented on #312
Hi Sorry it took a little longer than I hoped

I have rewritten the part of the plugin that deals with array and object recursion, which was causing the issues with the parsing of `JOI.array()` and `JOI.object()` structures.

Can you download v7.0.0 and tell me if its fixed your issue

Thanks

[2016-08-25 10:18] glennjones commented on #310
Hi there I have not been able to replicate this issue. I did find a problem the `basePath` property related to the double `//` into side a path which I have fixed in v7.0.0

Could you update to version v7.0.0 and tell me you still have the problem

[2016-08-25 10:29] glennjones commented on #309
Hi thanks for pointing out how the documentation was misleading related these options. I have reorganised the documentation. Hopefully its a bit clearer

There is now a section https://github.com/glennjones/hapi-swagger/blob/master/usageguide.md#json-without-ui on the subject

I also change the property names as a break change in v7.0.0
* `enableDocumentation`  to `documentationPage`
* `enableSwag

[2016-08-25 10:29] #309 closed

[2016-08-25 10:37] glennjones commented on #308
Hi this has just been added to v7.0.0 as an option `uiCompleteScript` i.e.
[code]
Its added to the page once the UI has been built.

Any problems let me know

[2016-08-25 10:37] #308 closed

[2016-08-25 10:44] glennjones commented on #283
I have rewritten the code for handling response objects in v7.0.0 It should limit the use of wrapping object in the JSON output.

If you could update to v7.0.0 and try it out.  You should `label()` all your objects. Could you also set the plugin option `reuseDefinitions` to `false`

[2016-08-25 11:37] glennjones opened #325 "7.0.0 Release Notes"
# Breaking Changes
* `swaggerUI` the option __`enableSwaggerUI` has been renamed to `swaggerUI`__
* `documentationPage` the option __`enableDocumentation` has been renamed to `documentationPage`__
* Swagger output has changed format, more elements will now be in the definition section of the JSON. In general this should not change the SwaggerUI rendering, but may impact people using the plugin for

[2016-08-25 12:11] jsumners commented on #314
It's complaining that `chalk` isn't installed. That package is listed as a dev dependency but is evidently now being used otherwise.

[2016-08-25 12:49] glennjones commented on #314
Forgot to do my last manual check 'a clean install into another project'. It should have come up in the linter as a `used-var`  not sure why that did not happen : (

Anyway v7.0.1 is now up on NPM - remove unused reference and tested in secondary project

Thanks for the head up

[2016-08-25 12:58] mmc41 commented on #315
Wonderful :-)

[2016-08-25 12:59] jsumners commented on #325
should be

[2016-08-25 13:00] jsumners commented on #314
Now I'm getting a 401 on the documentation page. The doc page should be showing but requiring an authorization header in each method invocation.

[2016-08-25 13:48] glennjones commented on #314
I have a feeling that this is not directly a `hapi-swagger` issue. Can you test my example project it is working correctly with v7.01, such just take a couple mins to do

Create new directory and `cd` into it with terminal
[code]

You should have a full working interface at `http://localhost:3000`

If the above is OK it is most likely an issue outside of `hapi-swagger`. If this is the case I maybe

[2016-08-25 14:16] jsumners opened #326 "Can't view docs when authentication is enabled"
I have `hapi-auth-bearer-simple` registered to handle endpoint security as the default strategy. `hapi-swagger` is registering the documentation page route with `auth: undefined`. So the default strategy is applied. I don't know why this worked correctly in v6, but in v7 it is causing the documentation page to return a 401.

Issue #228 indicates that `hapi-swagger` will pass through the `auth` opt

[2016-08-25 14:16] jsumners commented on #314
I created issue #326 to address this.

[2016-08-25 14:34] vinkaga commented on #314
7.0.1 works correctly for me. It produces

[code]

[2016-08-25 14:43] glennjones commented on #326
Thanks for pinning down the issue. I removed the `auth` default believing it was no longer been used. I will correct it and try write a test to make sure this regression does not happen again and get back to you.

[2016-08-25 15:23] glennjones commented on #326
OK the fix is committed to github, before I create another NPM release can you test it for me.

If you just temporally change the dependency over to `"hapi-swagger": "glennjones/hapi-swagger"` rather version number pull it in with `npm`

Created a test using `hapi-auth-jwt2` which works the same as `hapi-auth-bearer-simple`https://github.com/glennjones/hapi-swagger/blob/master/test/Integration/aut

[2016-08-25 16:19] jsumners commented on #326
Works for me.

[2016-08-25 19:03] glennjones commented on #326
Fixed in npm release v7.1.0 - @jsumners thanks for patience and help testing this. I hope everything is now working the way you want and you can use `hapi-swagger` without further problems.

[2016-08-25 19:03] #326 closed

[2016-08-26 22:14] akshayp opened #328 "7.x has errors handling forbidden keys"
I have a joi response schema that looks like this

[code]

that leads to an error when generating the swagger json

[code]

[2016-08-27 00:02] zacharyclaysmith opened #329 "7.1.0 throws runtime "Uncaught TypeError: Cannot read property '0' of undefined" for empty validate.query specification"
If you assign the `config.validate.query` property as any of the following:

`{}`, `Joi.object({})`, `Joi.object()` the "Uncaught TypeError: Cannot read property '0' of undefined" error is thrown in the browser when accessing the documentation, and the page gets stuck saying "Finished Loading Resource Information. Rendering Swagger UI...".

If you include at least one property in the specification

[2016-08-27 08:14] glennjones commented on #328
@akshayp The route example is not valid JavaScript. Even without the double `password:` it does not make sense as a JOI validation of a route.  Maybe it got a bit mess up through coping it into the issue.

Can you post it again

[2016-08-27 08:53] glennjones commented on #329
This is because the swagger spec expects object properties for a `query`

A `query` with an empty object will cause a Swagger validation error. You see this if you debug the plugin  i.e. add these example routes below to code in https://github.com/glennjones/hapi-swagger/blob/master/examples/debug.js.
[code]

A payload with an empty object is valid. This was now was expecting people to use the new

[2016-08-28 23:12] akshayp commented on #328
@glennjones Apologies. Updated it with the full route example

[2016-08-29 09:20] rmeissn commented on #310
v7.1 seems to fix this bug. I haven't tested it for older versions.

[2016-08-29 09:20] #310 closed

[2016-08-30 02:39] geuis opened #330 "No issue, just wanting to say thanks!"
Thanks for working on this. I'm in the middle of spinning up a new project and this just saved me a lot of time! I already have a lot of a new api running, and adding this now makes it all completely interactive without having to manually curl everything.

[2016-08-30 22:08] irothschild commented on #283
Thanks Glenn. I updated and it fixed the "Model X" problem I was having (without setting  `reuseDefinitions` which is in the docs but not allowed in the code.)

It introduced a new little problem for me where it creates a new class for an empty `Joi.object()` I have. To make it worse, it thinks it's the same empty object in another field so it uses the wrong name.

[2016-08-30 22:11] irothschild commented on #283
I spoke too soon. It's also making new Models for arrays which is not good.

[2016-08-30 22:30] irothschild opened #331 "Arrays in schemas show up as a separate model"
v7.1.0

If I have:

[code]

I get something like:

[code]

I would like to get something like:

[code]

[2016-08-31 09:30] glennjones commented on #331
Hi this relates to wrapping the arrays as definitions in the JSON output. I can switch that off so the code
[code]

Would produce a model
[code]

Its more compact and understandable, but not what you where looking for. How the models are describe is part of SwaggerUI. I can change the JSON output of the plugin, but it only indirectly effects the model descriptions, don't have a lot of control.

I

[2016-08-31 09:46] #314 closed

[2016-08-31 12:16] irothschild commented on #331
For me, what you suggest would be perfect! Compact, understandable, and readable, as you say.

[2016-08-31 23:12] akshayp commented on #328
@glennjones curious if you thought the issue is fixed or i'm missing something 😄 . I meant the only way to fix the issue currently is to remove the password validation from my route which I would like to keep and seems to work fine before 7.x. Thanks for looking at this!

[2016-09-01 02:41] Sniperkillerut opened #332 "sending empty params when using jsonEditor: true"
When using jsonEditor: true, and the validation schema has some optional params swagger will always send all empty fields as empty (""), this will cause a 400 error.
Example:

[code]

in this example only firstName and lastName are required, using jsonEditor: false, I can send only the required params and don't even send the empty ones, but with jsonEditor: true, all params will be sent as empty,

[2016-09-02 09:19] glennjones commented on #328
Yes sorry got ahead of myself by closing this. The fix is going to be in v 7.3.0 which I am working on now.

[2016-09-02 09:46] mmc41 opened #333 "Swagger gui fails to display completely (regression error in latest version)"
#### Context

* *hapi-swgger version*:

7.1.0 with hapi 15.0.0

* *any other relevant information*:

6.2.2 works - even both officially supported versions of hapi and with hapi 15.0.0

#### What are you trying to achieve or the steps to reproduce ?

[server.js.zip](https://github.com/glennjones/hapi-swagger/files/451673/server.js.zip)

Run supplied simple server. Open "http://localhost:3000/docume

[2016-09-02 10:16] fiws opened #334 "arrays show no example"
#### Context

* *hapi-swagger version*: 7.1.0
* *any other relevant information*: hapi version: 15.0.3

#### What are you trying to achieve or the steps to reproduce ?

I want the example to show up or at least an array with 2 items like specified. But i only get `test: [ 0 ]`.

~~Min and max do show of in the model tough~~. Actually they only showed up in the last hapi-swagger version. and seem t

[2016-09-02 12:33] fiws commented on #301
i have the same problem #334 (guess mine is a duplicate)

[2016-09-03 09:46] no-more opened #335 "Default array value"
#### Context

* *hapi-swagger version*: 7.1.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?
I have all properties but without default values indication

#### What did you expect ?
I would expect to have default value/initialization

[2016-09-03 09:53] no-more commented on #335
I updated my request, the issue is only for empty array initialization.

[2016-09-04 15:35] no-more opened #336 "Required array not marked as required"
#### Context

* *hapi-swagger version*: 7.1.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

I have a definition with a required array element, but the swagger file does not mention reminders as required

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?
reminders is not part of the requir

[2016-09-04 15:43] no-more opened #337 "name function conflict with attribute name"
#### Context

* *hapi-swgger version*:7.1.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I want define a property based on another joi definition, but the name of my property is replaced by the name of the joi definition

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?
[code]
#### What

[2016-09-06 09:52] no-more commented on #336
I'm not sure if this is of any help, but after having looked into the code I don't understand why the attribute is not set as required. Seems like the required attribute is not set to true on the array.
Maybe that's more a bug on joi ?
But the Joi validation process works fine ( the array is really mandatory in the validation).
Maybe it's handled an other way?

[2016-09-06 10:02] glennjones commented on #336
Yes having a look at it now. Seems to have got into a bit of a state when I rebuilt the core in v7.0.0

The issue is that JOI set the required state at a property level as a boolean where as Swagger sets it on the parent as an array of names. I am changing the code to clean this up. Also there is implied required/optional state for path such as `\item\{name}\{type?}` that has to be taken into acco

[2016-09-06 10:08] no-more commented on #336
I didn't understood everything but thanks !

[2016-09-06 16:14] glennjones commented on #337
This should now be fixed in v7.2.0 - if you have any more issues with this problem please let me known

[2016-09-06 16:14] #337 closed

[2016-09-06 16:15] glennjones commented on #336
This should now be fixed in v7.2.0 - if you have any more issues with this problem please let me known.

[2016-09-06 16:15] #336 closed

[2016-09-06 16:47] glennjones commented on #335
This should now be fixed in v7.2.0. I used the route below as a test
[code]

Test 2 and 3 will have defaults all the other will not.

Can you tell me if this fixes the issue you where having.

[2016-09-06 17:31] glennjones commented on #334
This should now be fixed in v7.2.0 - if you have any more issues with this problem please let me known

[2016-09-06 17:31] #334 closed

[2016-09-06 17:32] glennjones commented on #301
Sorry its taken a while. This should now be fixed in v7.2.0 - if you have any more issues with this problem please let me known

[2016-09-06 17:32] #301 closed

[2016-09-06 17:33] glennjones commented on #333
This should now be fixed in v7.2.0 - if you have any more issues with this problem please let me known

[2016-09-06 17:33] #333 closed

[2016-09-06 17:35] glennjones commented on #330
Hi really glad you find it useful and thanks for feedback

[2016-09-06 17:35] #330 closed

[2016-09-06 18:05] no-more commented on #337
I confirm this works now! thanks a lot

[2016-09-06 18:05] no-more commented on #336
I confirm this works now! thanks a lot

[2016-09-06 18:07] no-more commented on #335
Thanks it works great !!

[2016-09-06 18:07] #335 closed

[2016-09-07 07:26] glennjones commented on #331
HI this was a hard problem as because of all the different combination people use when constructing validation objects. The issue #337 also made the Model output I first suggested above not possible.

But hopefully v7.2.0 has a workable solutions. The main change is adding a label to the `Joi.array()` object.

If you use
[code]

Which now gives the models

[code]

Hope this is OK the ouput is now

[2016-09-07 07:28] glennjones commented on #328
This should now be fixed in v7.2.0 - can you get the latest version and let me known if its works for you so we can close this bug

[2016-09-07 07:29] akshayp commented on #328
Thanks this seems to work now but another issue has cropped up. Will investigate and file a sep issue. Thanks for fixing this!

[2016-09-07 07:33] glennjones commented on #321
This should now be fixed in v7.2.0 - can download the latest version and tell me if it works for you so we close down the bug.

[2016-09-07 07:47] glennjones commented on #312
Hi closing this down, just tested it again with v7.2.0. If you still have a problem let me known and I will reopen it

[2016-09-07 07:47] #312 closed

[2016-09-07 07:47] #328 closed

[2016-09-07 12:39] cjduncana commented on #321
@glennjones I just tested v7.2.0 in my project, and this bug is fixed for me. Thanks for the fix.

[2016-09-07 13:31] aliismael commented on #312
Hi Glenn,

The fix worked beautifully and sorry for the delayed response.  Thank you so much for everything.

Yours truly,
Ali

[2016-09-07 15:41] shinzui commented on #321
@glennjones The good news is that v7.2.0 fixes examples for payloads. The bad news is that it broke the query examples.

This was working before:

[code]

But i am getting empty input fields now.

[2016-09-08 17:22] no-more commented on #283
Hi,

is it possible to change the autogenerated label to avoid space ? An underscore or no-space at all would be much more code generator friendly.

Thanks a lots for this great plugin!

[2016-09-09 02:15] irothschild commented on #331
Hi Glenn,

First let me thank you for all the hard work you've put into this over what now amounts to years. I understand the challenge of keeping things in sync with the fast moving Hapi and Joi targets, let along the swagger and swagger-ui changes.

The real goal for me in using this module is to generate clear, understandable API documentation for end-user developers. Unfortunately, we're not t

[2016-09-09 14:50] timjnh opened #338 ""Cannot set property 'x-alternatives' of undefined" for .when without a then: clause"
#### Context
- Hapi-swagger version: 7.2.0
- Joi version: 9.0.4
#### What are you trying to achieve or the steps to reproduce ?

I have the following validation with Joi 9.0.4.  Joi allows when clauses with either 'then' or 'otherwise' but it seems to raise errors in the latest version of hapi-swagger

[code]
#### What result did you get?

I get the following error when I try to load the swagger J

[2016-09-12 09:26] willin opened #339 "Plugins Support"
#### Context
- _hapi-swgger version_: 7.2.0
- _any other relevant information_:  Current Version 4.3.5 in use
#### What are you trying to achieve or the steps to reproduce ?

Describe your issue here, include example `route` or JOI schemas.

https://github.com/WulianCC/hapi-swagger/commit/7a29d22fc3dd3b40ea9ed9dc9b0ceff43518e35f
#### What did you expect ?

how cloud i define custom plugin without

[2016-09-12 12:21] simoneb opened #340 "Support all swagger options"
When trying to use the swagger `supportedSubmitMethods` option I got an error saying `"supportedSubmitMethods" is not allowed`.

I think the plugin should proxy all unknown options to swagger rather than throw errors.

[2016-09-14 10:00] glennjones commented on #340
Hi
The `hapi-swagger` options are based a combination of three groups of options for the plugin, swaggerUI and swagger JSON.

I will have a look at opening up as many of the swaggerUI options such as `supportedSubmitMethods` as I can.

I am not sure they all make any sense in the context of `hapi-swagger` some would just cause the interface to fail such as `dom_id`. There are also a couple `apisSo

[2016-09-14 10:08] simoneb commented on #340
An alternative would be to use different keys on the root options object to configure the 3 different groups. That would be a major change though but it would allow blind proxying to swagger UI.

[2016-09-14 10:34] glennjones commented on #331
Hi Ian

Been thinking about this over last couple of days. Moving forward there are a couple thing I can do.

1. I can add tests to cover the model output of SwaggerUI. Yesterday I got JSDOM working with Lab so I can do client-side testing of UI elements. A big issue is that any change to the swagger JSON can be valid and fix one problem, but change the model output in ways I did not foresee.

2.

[2016-09-15 22:04] mariecl opened #342 "Error with array made of objects with several schemas"
#### Context
- _hapi-swagger version_: 7.2.0
#### What are you trying to achieve or the steps to reproduce ?

I have an array of objects, where the objects can respect 2 different schemas (labelled `test1` and `test2`). The schema is based on Joi and "works well" when I run the code (i.e., if my code returns garbage events, they don't pass validation, but `test1` and `test2`events make it fine).

[2016-09-22 04:31] keshi-kc opened #344 "Unable to impliment basic-auth on documentation page."
#### Context

* *hapi-swgger version*: 7.0.0

#### What are you trying to achieve or the steps to reproduce ?
I'm trying to implement basic-authentication for documentation page too. So that only authentic user can view my documentation.

[code]

#### What result did you get?
[code]

#### What did you expect ?

I want authentication pop-up for documentation before rendering my route documentaion.

[2016-09-23 18:52] nwarlen opened #345 "Documentaion UI makes incorrect request if server is running in container"
#### Context

* *hapi-swgger version*: 7.1.0

#### What are you trying to achieve or the steps to reproduce ?

When running a hapi server in a Docker container, the port specified at the server level is mapped to a random port on the host. For example, if we set up our hapi server to run on port 9000, the container may map 9000 inside the container to port 30000 on the host machine. This means tha

[2016-09-24 12:34] no-more opened #346 "Question: how to handle datetime and timestamp"
#### Context

* *hapi-swagger version*: 7.2.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I'm trying to define a schema with timestamp or datetime.

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?
`startDate =>  "type": "string", "format": "date"`
`endDate => "type": "string", "format"

[2016-09-26 09:19] adrien-candiotti commented on #283
Hi!

I finally had time to check on that and it's working great!
Thank you so much :)

There is only one case left ... The label is not used when it's applied to an array of nested objects.
But If i remember well I saw somewhere that the definition lookup is done by iterating over the definitions and comparing them.
I guess the nested def is not accepted there?

[2016-09-28 07:46] varmint09 opened #347 "Documentation does not show results on heroku?"
Hi,

I have updated to hapi 15.x.x and the latest hapi-swagger and now on Heroku the documentation page does not display responses

This is the error;

[code]

I am using a custom domain on heroku, but I was using it before the update to 15.x.x and swagger 5.

This all works locally, and my local machine connects to the mongo instance on heroku, and this used to work.

Any ideas?

[2016-09-28 14:45] no-more opened #348 "Question: is it possible to define a map of objects ?"
#### Context

* *hapi-swgger version*: 7.2.0

Hi, this might not be directly related to hapi-swagger but I was wondering if it's possible in both Joi and swagger to define a map of an object ?
I easily found out how to create an array with an object schema, but I couldn't find anything on creating a map.
Does any one know if it's possible, and if it is how (any link ?).
Or maybe I should change my

[2016-09-28 22:12] rainabba opened #349 "Possible to have line-breaks in a description?"
* hapi-swagger 0.7.2:
* Hapi 14.2:

One of my routes has quite a few options and I'm trying to format the description to make them more clear. Assuming that's the best location for this, what markdown/formatting can I use? In particular, how can I achieve line-breaks and/or new paragraphs?

[2016-10-03 08:58] glennjones commented on #349
Most of the `description` properties takes a "GitHub Flavored Markdown" (GFM). Its markdown with a few extra's.

This cheatsheet cover line breaks
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#lines

Couple of other links you may find useful
https://guides.github.com/features/mastering-markdown/
https://help.github.com/categories/writing-on-github/

Hope that helps.

Going to cl

[2016-10-03 08:58] #349 closed

[2016-10-03 09:02] glennjones commented on #348
Hi, Sorry, what do you mean by a "map of object"?  Not sure I am clear on what you want to achieve.

[2016-10-03 09:30] glennjones commented on #347
As the plugin restructures URL's, issues with host settings are not uncommon. This is often a problem with PaaS services as their proxies settings which can make things harder.  This is a difficult thing for me to test for because of all the different production environments.

I can I first ask you to install the **blipp** plugin it will list out the server connections and all the endpoints into t

[2016-10-03 09:33] glennjones commented on #346
I am doing some fixes over the next couple of days. I will look into enhancing the date handling

[2016-10-03 09:38] glennjones commented on #345
HI I have another issue #347 about host/ports I will try have a look at this over next couple of days.

I don't suppose you have a example Docker container setup I could look at? Its been a while since I played with docker.

[2016-10-03 10:35] glennjones commented on #344
HI this is an issue with the order in which plugin's are loaded.  There are 3 options that I known of to fix this.

1. Use two `server.register` the first to register 'hapi-auth-basic' and then all the rest in the second. This is not the recommend way, but seems to work.

2. Wrap one register function call inside another. This is often used.

3. Use the Glue plugin it  uses option 2 internally, bu

[2016-10-03 10:35] #344 closed

[2016-10-03 10:40] #325 closed

[2016-10-03 11:18] no-more commented on #348
Hi,

I mean in some case I don't want to store objects in an array but in an object where properties act like an index for accessing each object. This is useful for good performance when I need to access an element directly with an id for example.
[code]

and when I need to access an object I just have to use `myMap[objectKey]`.

This works in great in javascript, but I couldn't find out how to ma

[2016-10-03 12:06] glennjones commented on #348
If understand you correctly you are looking at using a object structure with properties which themselves could be objects.

It is possible to build very complex structures with many levels of objects and child objects, but you can only collect this data using a `POST` and the `payload` property of a route. Everything else like `query` etc only use string types.

[code]

The above example would tak

[2016-10-03 13:15] no-more commented on #348
Hi,

thanks for your fast reply, but what I need are dynamic keys "outer1" could be "outerX" or "bobc" or "5425425" ... any string number.

In typescript a way to define this is {[key: string]: myObjectDefinition}

Maybe another way to say this is I want to validate an object which can have any number of properties, but I want all properties to match another object definition or type .

Thanks.

[2016-10-03 14:18] glennjones commented on #348
So there are a few things you can do with JOI that may answer your use case. First let me say that Swagger does not deal with this `type` flexibility well, so we are hitting the limits of what the UI will display.

You can use:
- `Joi.any()` to allow a property to be any javascript type
- `.unknown()` to allow new keys of any type at a given level in the structure

[code]

Posting  `{"a": "astring

[2016-10-03 14:57] glennjones commented on #347
A just updated all the dependencies for git repo https://github.com/glennjones/hapi-token-docs and deploy it to https://hapi-token-docs.herokuapp.com/ its test site on heroku and everything seems fine. Maybe worth looking at the code/setup.

[2016-10-03 15:49] no-more commented on #348
Thanks a lot, I will try to have a look on this, but I will lost swagger code which is very important in my workflow.

In the end I'll to choose between this and switching to a normal array to store my values.

Thanks again.

[2016-10-03 15:49] #348 closed

[2016-10-03 15:49] nwarlen commented on #345
I'll make a sample repo that displays the issue and post a link by this afternoon

[2016-10-03 16:19] nwarlen commented on #345
https://github.com/nwarlen/docker-hapi-sample

[2016-10-03 17:28] podehnal commented on #347
@glennjones - It appears that your https://hapi-token-docs.herokuapp.com/ example is currently broken with the same issue that @varmint09 reported. I am also experiencing the issue of port number being attached to the host unless I specify the host in the options.

[2016-10-03 18:12] moredip commented on #345
@glennjones would you take a PR for this that enhances `internals.getHost` in `/lib/builder.js` so that it looks for `request.headers['x-forwarded-port'` just like it's currently doing [here](https://github.com/glennjones/hapi-swagger/blob/master/lib/builder.js#L164) for `x-forwarded-host`?

[2016-10-06 20:50] bjonica commented on #302
@glennjones consider re-opening. OpenAPI spec allows file upload. Search for 'file upload' here: http://swagger.io/specification/

[2016-10-07 14:41] PetrSnobelt opened #350 "Sorting by route tags"
#### Context
- _hapi-swgger version_: latest
#### What are you trying to achieve or the steps to reproduce ?

I'd like to sort by tags defined in route config.
I'd like to generate documentation grouped by this custom tags, not by route path
When I look at swagger.json, route tags are replaced by first segment of url
#### What result did you get?

My docs are sorted by route path
#### What did you

[2016-10-08 06:03] no-more commented on #337
Hi,

I've found another issue which is directly related to this one.
Label is correctly used in the schema definition, but not in the required field which still refer to the joi definition name.

for exemple "FormDependencyDefinition" should be "reminder"
[code]

Thanks

[2016-10-08 06:06] no-more opened #351 "name function conflict with attribute name"
#### Context

* *hapi-swgger version*:7.2.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I want define a property based on another joi definition, but the name of my property is replaced by the name of the joi definition

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?
[code]
#### What

[2016-10-08 23:17] varmint09 commented on #347
@glennjones @podehnal No update on this?

[2016-10-10 06:29] davidlashlee opened #352 "documentation UI adds dynamic query string literal to query"
#### Context

"hapi-swagger": "^7.2.0"

[code]
#### What result did you get?

request url contains "{ids}"

![screenshot 2016-10-09 23 26 08](https://cloud.githubusercontent.com/assets/6559363/19228216/f2a76080-8e77-11e6-955a-8455c046f7a1.png)

cant figure out why request url adds the "{ids}" in documentation UI

[2016-10-10 10:26] glennjones commented on #347
Sorry been side swiped by day job work. Hoping to have a go at fixing this tomorrow.

[2016-10-11 04:40] garthk opened #353 ""Try it out!" fails; connection.uri ignored; URI formed with non-public port number"
#### Context

* *hapi-swagger version*: 7.2.0
* *hapi version*: 15.1.1
* Nginx reverse proxy in front of Node running on port 50505
* [`server.connection`](http://hapijs.com/api#serverconnectionoptions) configured with:
  - `port`: 50505
  - `address`: 0.0.0.0
  - `uri`: `https://example.com`

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to get the "Try it out!" butt

[2016-10-11 17:02] glennjones commented on #353
Hi sorry about that. I have made a few simple changes to `getHost` function. I have to take into account when HAPI is setup to run more than one `connection` so it does need to reference the `connection`, but yes I should not mix and match.

I have push a test version into repo. Can you temporarily point your `package.json` reference to the repo ie `"hapi-swagger": "glennjones/hapi-swagger"`, then

[2016-10-11 17:03] glennjones commented on #347
Hi sorry about the wait. I have made a few simple changes to hopefully now pick up host and port correctly

I have push a test version into repo. Can you temporarily point your `package.json` reference to the repo i.e. `"hapi-swagger": "glennjones/hapi-swagger"`, then test it against your project and tell me if this fixes the issue.  Thanks

[2016-10-11 17:09] glennjones commented on #345
Hi sorry about the wait. I have made a few simple changes to `internals.getHost` hopefully it now picks up the host and port correctly. I done this to fix some issues with heroku, but I think its the same problem for Docker.

Needed to spend a little time on this as I also need to take into account when someone uses more than one HAPI connection under a single server instance. i.e. documentation o

[2016-10-12 11:37] #322 closed

[2016-10-13 08:37] glennjones commented on #352
Hi this looks like `JS.Users.pick('id')` is referencing an object which is not a `JOI` type. It could be that it is a `JOI` type but in someway wrap in a native JavaScript object?

Without understanding  what `JS.Users.pick('id')` returns its hard to help. If you can debug the code and check that `JS.Users.pick('id')` is returning a `JOI` type, it should have the property `isJoi: true`

[2016-10-13 16:39] jberger commented on #199
Hi @glennjones, this is a terrible place to ask, but I see that you experienced issues with child objects in swagger-ui. I am also experiencing issues like this (not with hapi) and I was hoping you could share your patch and/or link to the issue you opened on their project? I would be very grateful!

[2016-10-13 18:30] varmint09 commented on #347
@glennjones That fixes the issue, so would make sense to push into the main repo.

Many thanks Glenn.

[2016-10-13 23:32] garthk commented on #353
That does the trick, @glennjones: I can remove `options.schemes` and `options.host`, and it Just Works.

[2016-10-14 15:02] jberger commented on #199
I have seemed to be able to work around my issues given certain structure. Thanks all the same.

[2016-10-14 16:49] nwarlen commented on #345
Yes, the updated code works for my use case. Thanks! Any estimate on an expected release date?

[2016-10-14 17:11] podehnal commented on #347
@glennjones - Thanks !

[2016-10-16 10:12] fiws opened #355 "swagger schema has wrong array definition"
#### Context
- _hapi-swagger version_: 7.2.0
#### What are you trying to achieve or the steps to reproduce ?

I let the code speak:

[code]
#### What result did you get?

[code]
#### What did you expect ?

2 array definitions, not one

[2016-10-16 13:15] roderik commented on #350
Did anyone figure this out yet?

If i have a tag named `something`, i would assume both the paths below would be under that tag in the UI. But i have `something` and `something/{somevar}`.

[code]

[2016-10-17 19:40] mariecl commented on #355
Seems similar to #342 ?

[2016-10-18 13:52] no-more commented on #351
No news ?  Were you able to reproduce/confirm the issue ?

[2016-10-18 14:46] no-more commented on #351
I wasn't able to understand how the required fields is populated, if someone could explain me a little bit, maybe I could help figure out how to fix this issue.

Thanks.

[2016-10-18 15:25] glennjones commented on #347
This is now in v7.3.0 on NPM. You can change the package.json back to point to that version

[2016-10-18 15:25] #347 closed

[2016-10-18 15:26] glennjones commented on #345
Great. This is now in v7.3.0 on NPM. You can change the package.json back to point to that version

[2016-10-18 15:26] #345 closed

[2016-10-18 15:27] glennjones commented on #353
This is now in v7.3.0 on NPM. You can change the package.json back to point to that version

[2016-10-18 15:27] #353 closed

[2016-10-18 15:29] glennjones commented on #346
Support for `Joi.date().timestamp()`  is now in v7.3.0 on NPM. Sorry it took a little longer than I hoped to get in.

[2016-10-18 15:29] #346 closed

[2016-10-18 15:43] glennjones commented on #355
Hi yes there seems to be an issue with this and #342 I will look into it and get back to you.

[2016-10-18 16:05] no-more commented on #346
Hi,

Thanks a lot.

[2016-10-19 09:52] glennjones commented on #355
Hi I found a couple of issues which are now hopefully fixed. Can you point your package.json reference to the Github repo i.e. `"hapi-swagger": "glennjones/hapi-swagger"` for testing.

### `min(1)` issue
The first issue was that in the code below, the use of `min(1)` was not been picked up, I have corrected this in the updated Github repo:
[code]

### Labels on array items
The second thing to note

[2016-10-19 10:30] glennjones commented on #342
Can I first just say sorry I have not got back to you sooner.

I have had another look at the Swagger spec to see if there is any way do what you want. It just not possible within the current spec. A phrase you see about swaggers design is that "Swagger doesn't support non-deterministic APIs"

The nearest I can get to what you want is to use `Joi.alternatives().try()` The UI interface will only th

[2016-10-19 12:06] glennjones commented on #351
Thanks for pointing this problem out. Tracked down this is issue and the fix is now in the main Github repo. I will add another comment when I release the npm version with this fix

[2016-10-19 12:09] no-more commented on #351
Thank you so much, this was a big deal in my case and that change will save me a lots of time.

[2016-10-19 12:27] glennjones commented on #350
@roderik that should not be the case. This could be a trailing slash issue the path `/something` not been seen as the same as `/something/` ?  If you clone the whole project and fire up `$ node examples/options.js ` you will see an example of the type of grouping you are looking for.

[2016-10-19 12:40] glennjones commented on #350
Hi @PetrSnobelt if I understand you correctly. You want to hand tag every endpoint i.e. `tags: ['api','User data']` then for the plugin to create a group based on `'User data'`.

If that is the case it not part of the plugin at the moment. I could add it, but it maybe a while before I get around to this enhancement.

Please let me know if I have understood your use case correctly and if you would

[2016-10-19 13:20] glennjones commented on #355
In fix in version v7.4.0 on npm

[2016-10-19 13:22] glennjones commented on #351
That's OK happy its working for you - In fix in version v7.4.0 on npm

[2016-10-19 13:22] #351 closed

[2016-10-19 13:40] mariecl commented on #342
No worries, thanks for getting back to me anyway. And sorry for the super long post below.

I have tried using your solution with `Joi.alternatives().try()` in the past, but it fails for me in several ways. I have to add for context that I have several routes using this schema (`GET /provider1/events`, `GET /provider2/events`, etc.).

In the JSON output I get from running my server and calling `sw

[2016-10-20 05:04] no-more opened #357 "Strange bug, missing required on some elements"
#### Context

* *hapi-swgger version*: 7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I have an api which expose several entry points very similar (some complex properties have same name and type). I said that because maybe it's related to the bug, but I'm not sure. The issue is, in the joi schema, those properties are required on each ob

[2016-10-20 16:31] rainabba commented on #349
Sorry, but I think I need to be more clear. I'd like the "notes" to appear as multiple paragraphs when viewed through the served swagger page, but it's just one paragraph without line breaks.

[code]

[2016-10-20 21:34] doron2402 commented on #257
@glennjones is this issue got fix already? can I help in any way?

[2016-10-24 03:53] davidlashlee commented on #352
hey, so I removed the validate portion of the hapi route config, still not getting a dynamic path to work correctly.

[2016-10-24 04:11] davidlashlee commented on #352
trying to get as close as the doc example

![screen shot 2016-10-23 at 9 08 25 pm](https://cloud.githubusercontent.com/assets/6559363/19633307/e5af840a-9964-11e6-9315-7c3eb690dea6.png)
![screen shot 2016-10-23 at 9 09 17 pm](https://cloud.githubusercontent.com/assets/6559363/19633313/fdb7d2e6-9964-11e6-9143-fda64ec3e970.png)

[2016-10-24 19:03] bryenbegg opened #358 "Path wildcard with named param not substituting in curl"
#### Context
- _hapi-swgger version_: 7.4.0
- _any other relevant information_:
  - hapi: 15.2.0
  - inert: 4.02
  - vision: 4.1.0
  - node: 4.6.1
  - os: Ubuntu 16.04 x64
- Seems to be related to #144
#### What are you trying to achieve or the steps to reproduce ?

I am using a route with a wildcard that defines the parameter with a name in a sample hello world.

Here is the sample `server.js` I

[2016-10-24 20:30] scmorse opened #359 "Need a way to override group(s)"
#### Context
- _hapi-swgger version_: 7.2.0
- _any other relevant information_: See below
#### What are you trying to achieve or the steps to reproduce ?

I am trying to document one of the routes on my services, which is a POST to "/". The problem is that the endpoint in the resultant swagger.json has `tags: [""]`, which puts it into it's own group with no name in the UI.

Sample route:

[code]
#

[2016-10-25 13:59] mariecl commented on #342
@glennjones do you have any feedback on the above?

Thanks.

[2016-10-26 11:05] glennjones commented on #359
Hi Yes I think when the plugin was first designed the use of tags was define for too narrow a use case. I am considering addressing this, but as it will be a break change so not for a while.

There is a powerful feature you could use `pathReplacements` which I think will get the result you want.

[code]

I hope the above helps. Please let me know if it sorts out your current problem.

[2016-10-26 11:50] glennjones commented on #358
Hi Thanks for writing such a full issue report.

I am sorry but use `{test*}` is one of the unsupported features I cannot port from HAPI to Swagger.  There is no equivalent in Swaggers path templating definition I can map it to. Its in the list of such items in the Usage Guide

https://github.com/glennjones/hapi-swagger/blob/master/usageguide.md#features-from-hapi-that-cannot-be-ported-to-swagger

[2016-10-26 12:03] glennjones commented on #357
Hi there. If I was to have a guess this would be around. Required properties been move from objects which have been renamed using a `.label()`. I say that it was the major change for v7.4.0 code. I am using a name of a object as a reference rather than tracking objects through the recursion.  I could be altering the the wrong object.

It would be great if you could provide a example. Although I th

[2016-10-26 13:17] no-more commented on #357
Hi,

It's complicate to provide a complete test case as it involves several files.

But I think you should be able to reproduce with a simple case :

[code]

[code]

[code]

[code]

[2016-10-26 13:26] glennjones commented on #342
Hi @mariecl  I have read your last comment a couple of time and I am getting a bit lost.  There are a couple of things to try none of which help with main problem but should give you more clarity when trying different output options. The `$ref=` and definition model naming can get in the way.

First I would recommend just viewing the url endpoint `/swagger.json` rather than using the `swagger-cli`

[2016-10-26 14:10] glennjones commented on #357
OK I have had play and cannot reproduce the issue. I tracked the the requires properties everything seems as it should be!

[2016-10-27 04:23] no-more commented on #357
Thanks,

I'll try to create a better tests case I might have missed something that makes the difference.

Thanks a lot.

[2016-10-27 20:27] mariecl commented on #342
So this is what I am working with:

[code]

Please find below the outputs and remarks on each of them.

## Output

| | no option | reuseDefinitions: false | deReference: true|
| --- | --- | --- | --- |
| usingArray (current implementation) | Output A1 | Output A2 | Output A3 |
| usingAlternatives | Output B1 | Output B2 | Output B3 |
| usingObject | Output C1 | Output C2 | Output C3 |

### Output

[2016-10-31 11:50] Nico87LBS opened #360 "Response Model and Example with pattern"
Hello,

I am trying to describe a result schema to display in swagger, but I have a problem with empty object and pattern.

My result object have only dynamics keys, so I have to define an empty object and then with pattern, define keys formats and their values.

[code]

[code]
And in my route I declare:

[code]

I get nothing displayed, just an empty object.
But if I define a key in my object, th

[2016-11-01 04:22] srowatt commented on #338
I'm also seeing the same error on this combination

- hapi@15.2.0
- hapi-swagger@7.4.0
- joi@9.2.0

My Joi schema is below and I get the same stack track as @timjnh when I try to access the url for the swagger.json. If I comment out the 'when' Joi schema line below it works ok.
[code]

[2016-11-02 13:08] indreek opened #361 "Ref"
#### Context

* *hapi-swgger 7.4.0 *:

#### What are you trying to achieve or the steps to reproduce ?

[code]

#### What result did you get?
swagger.json generates:

paths: {
/bar/arrays: {
post: {
operationId: "postBarArrays",
parameters: [
{
in: "body",
name: "body",
schema: {
type: "array",
$ref: "#/definitions/FooArrParent"
}
}
],
tags: [
"bar"
],
responses: {
200: {
schema: {
$ref: "#/defini

[2016-11-02 22:11] penrillian-chrisa opened #362 "View file not found when browserify'd"
My hapi-swagger implementation is working just fine when I run it locally with babel-node. However, as part of my deployment, I browserify my app. I then get the following error:

Error: View file not found: `index.html`. Locations searched: [/tmp/build_480061565e5bde9318f370ffbaf80e44/node_modules/hapi-swagger/public/swaggerui/index.html]
Any suggestions?

[2016-11-03 13:15] PetrSnobelt commented on #350
@glennjones Exactly, it will be great if you can support this option. Thanks

[2016-11-04 13:31] indreek opened #363 "Docs behind proxy"
#### Context

* *hapi-swgger version*: 7.4.0

#### What are you trying to achieve or the steps to reproduce ?
I have set configuration base pathh. basePath: /demo/api/

#### What result did you get?
swagger-ui gets a lot of 404 errors complaining about links missing. All js and css links and hrefs dont include basePath set in conf (still "/swaggerui/.....)

#### What did you expect ?
js and css li

[2016-11-05 09:37] no-more opened #364 "Question: How to handle multiple response (per status)"
#### Context

* *hapi-swagger version*: 7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
According to http://hapijs.com/tutorials/validation it's possible to define several answer according to response status (mainly in order to handle errors).

Describe your issue here, include example `route` or JOI schemas.
[code]

#### What result did y

[2016-11-05 10:17] no-more commented on #364
Never mind the issue was on my side. Sorry.

[2016-11-05 10:17] #364 closed

[2016-11-06 11:45] no-more opened #365 "Default response"
#### Context

* *hapi-swgger version*: 7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I would like to define a default response for not 200 status code. This seems to be possible in swagger (http://swagger.io/specification/#responsesObject) but I wasn't able to define it in hapi.

Describe your issue here, include example `route` or JOI s

[2016-11-06 13:56] no-more opened #366 "Similar object definition with different labels are merged"
#### Context

* *hapi-swagger version*: 7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I have multiple routes with semantically similar object definitions but with different labels. When generating swagger definition, only one of them is used for both routes

Describe your issue here, include example `route` or JOI schemas.

[code]

####

[2016-11-07 12:36] indreek commented on #365
HI

Try like that:

`config: {
      description: 'Testing.',
      notes      : ['Testing.'],
      tags       : ['api', 'test'],
      handler    : handler,
      validate   : validate,
      response   : {schema: respSchema},
      plugins    : {
        'hapi-swagger': {
          responses: {
                400: {
                  'description': 'Bad Request'
                },

[2016-11-08 12:53] no-more commented on #365
Thanks, I'll try that, do you think it's possible to :

1. Define it globally in hapi swagger plugin options ?
2. Define a schema that can be used ?

Thanks

[2016-11-08 12:57] no-more commented on #365
When I'm trying to registrer it at root level with glue :
[code]

I have the following swagger definition :
[code]

[2016-11-08 15:50] ksingh0810 opened #369 "invalid swagger.json file generated, validation fails in swagger editor"
#### Context

* *hapi-swagger version*:7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
generate documentation and get a valid swagger.json file

Describe your issue here, include example `route` or JOI schemas.
The swagger.json file hapi swagger generates is not valid and gives some validation errors for routes like
abc/def/{paths*}.

does

[2016-11-11 23:28] swashcap commented on #350
I’m experiencing something similar to @roderik, and [hapi doesn’t like trailing slashes in routes](https://github.com/hapijs/hapi/issues/1576). Here’s my basic config:

[code]

All the `controller` methods contain `tags: ['api', 'scans']` in their config. Any ideas?

[2016-11-11 23:39] swashcap commented on #350
Here’s what the generated doc page looks like:

![generated-stuff](https://cloud.githubusercontent.com/assets/1858316/20233487/e8c9d162-a824-11e6-8a8e-1c4b1db092a2.jpg)

I’ve also observed the routes don’t have off the same `"scans"` key in the generated swagger JSON.

[2016-11-14 17:59] swashcap commented on #350
If I version like in _example/options.js_ it groups them correctly:

![version-scans](https://cloud.githubusercontent.com/assets/1858316/20276391/e7751cbc-aa50-11e6-9757-05989cce6965.jpg)

[2016-11-21 16:30] sericaia opened #370 "swaggerUIPath option - use CDN"
Hello

#### Context
`swaggerUIPath` option

#### What are you trying to achieve or the steps to reproduce ?
hapi-swagger provides `swaggerUIPath` as an option and this is great, but if I want to add a url for a CDN (e.g https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/2.2.6/) it's not possible due to the server route created (https://github.com/glennjones/hapi-swagger/blob/master/lib/index.js#L16

[2016-11-25 17:29] no-more commented on #365
Hi,

Did you had time to have a look onto this please ?

Thanks a lot.

[2016-12-02 14:10] kraczo opened #371 "Set up cors for swagger.json"
Hi I have an issue, I d'like to set up cors just for swagger.json file to be able to generate documentation from external server through swagger-ui. I know there is an option to allow cors with entire hapi server ( with connection settings  or with route ) but i really need have cors just for swagger.json file.

There is that kind of option with hapi-swaggered plugin ( I have tested and that works

[2016-12-04 17:04] cjduncana opened #372 "Hapi has been upgraded to 16.0.0"
Hapi recently upgraded but hapi-swagger has Hapi v14 and v15 set as peer dependencies, not v16.

[2016-12-05 21:04] mattii opened #373 "swaggerui-files can't be loaded, responds with 400"
#### Context

* *hapi-swgger version*: 7.4.0
* *hapi version*: 15.0.3
* hapi-server is set up with *glue 4.0.0*

#### What are you trying to achieve or the steps to reproduce ?

I just installed *hapi-swagger*, together with *inert* and *vision* and registered it in my glue-manifesto like:

[code]

#### What result did you get?

If I load http://localhost:3000/documentation I get a valid html-file

[2016-12-06 08:43] mattii commented on #373
Never mind! I planned to serve the docs as static files via S3 and Cloudfront anyway. And as long as `/swagger.json` loads, everything works for me. Thanks for this great hapi-plugin!

[2016-12-06 08:43] #373 closed

[2016-12-08 10:57] no-more opened #375 "Use references for enums"
#### Context

* *hapi-swagger version*: 7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I have several object using the same enum definition (for example status). Currently the status enum definition is directly included in each object instead of referring to a single definition even if I'm using "reuseDefinitions" option.

Is there any wa

[2016-12-08 13:42] no-more commented on #357
Hi,

I have finally found out where was the issue. It's due to caching of objects. Disabling caching (temp fix) solved the issue for me [here](https://github.com/glennjones/hapi-swagger/compare/master...no-more:patch-1)

I didn't search enough to fix the bug correctly but it's related to `property = this.parsePropertyMetadata(property, name, parent, joiObj);` not being called when definition is al

[2016-12-11 15:02] #372 closed

[2016-12-12 12:17] no-more opened #378 "Question: Is it possible to output a definition with an allOf and discriminator ?"
#### Context

* *hapi-swgger version*: 7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

I have several routes that return objects which have common properties. I just find out that swagger specification allow the usage of allOf in order to extend a definition.
Do you know if it's possible to achieve such a thing with hapi-swagger and Joi ?

[2016-12-15 01:04] danactive commented on #363
Hi @glennjones I'll verify this PR tomorrow and let you know if it works on my machine.

[2016-12-17 19:41] iwasrobbed opened #379 "PUT requests not passing parameters"
#### Context

* *hapi-swgger version*: 7.5.0
* *any other relevant information*: Hapi v16

#### What are you trying to achieve or the steps to reproduce ?

Utilize the `try it out` for a PUT request.

#### What result did you get?

It did not pass the parameters along with the curl request

<img width="983" alt="screen shot 2016-12-17 at 11 38 19 am" src="https://cloud.githubusercontent.com/assets

[2016-12-18 10:46] glennjones commented on #329
Closing this as there was no response to my request for a real world use case.

[2016-12-18 10:46] #329 closed

[2016-12-27 21:41] danactive opened #380 "Improve security with Content Security Policy"
#### Context

* *hapi-swgger version*: 7.5.0
* *any other relevant information*: latest hapi and blankie

#### What are you trying to achieve or the steps to reproduce ?

When adding blankie plugin to my hapi project the swagger playground doesn't load correctly. I will provide a pull request to enable route specific rules

#### What result did you get?
Refused to load the font 'https://localhost:

[2016-12-27 22:49] danactive opened #381 "Correct paths and line-endings for Windows"
#### Context

* *hapi-swgger version*: 7.5.0
* *any other relevant information*: Windows 7 tests fail and line endings are incorrect

#### What are you trying to achieve or the steps to reproduce ?

1. Git clone on Windows
1. npm test

#### What result did you get?

security no keyPrefix:

      Invalid path: /documentation\debug

      at Object.exports.assert (S:\web\hapi-swagger\node_modules\ha

[2016-12-30 15:48] knicefire commented on #371
Having the same issue here.

[2017-01-04 14:19] rahuljain1311 opened #386 "Test swagger.json response and report error"
#### Context

* *hapi-swgger version*: ^5.1.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Can I write a command in my `package.json` file under `scripts` section which will check the response returned by calling `/documentation` route is correct or not.

I want to do this because whenever someone makes a new API and it is giving correct res

[2017-01-05 10:10] TangMonk opened #387 "route with prefix cannot grouped"
* *hapi-swgger version*: 7.5.0

## normal situation

hapi-swagger config :

[code]

route config:

[code]

that's works fine
![image](https://cloud.githubusercontent.com/assets/3498786/21680441/c289dd4a-d384-11e6-990d-6ce26416ec26.png)

## endpoint prefix situation

hapi-swagger config :

[code]

route config:

[code]

the swagger will treat above three routes a not grouped
![image](https://cloud.

[2017-01-08 16:43] glennjones commented on #386
Hi

The only way I can of doing this is to use the same techniques used in testing. That is to create an instance of the HAPI server and then use server.inject to text if the `/documentation` route is returning a 200 status code.

[code]

You should also check that the swagger.json is corrected correctly using a test like

[code]

You would have to change that above tests into a script that can be

[2017-01-08 16:43] #386 closed

[2017-01-08 16:52] glennjones commented on #387
Hi

There are two ways to control grouping. Take a look at https://github.com/glennjones/hapi-swagger/blob/master/usageguide.md - "Rewriting paths and groupings" section. I would try option  one using the `basePath` and `pathPrefixSize` properties

[code]

Hope this helps
Glenn

I will close down the issue, if you still have problems free free to open it again

[2017-01-08 16:52] #387 closed

[2017-01-08 17:21] glennjones commented on #380
Hi

I think this maybe more a problem with the SwaggerUI code than this plugin directly.  I try not to change the SwaggerUI files as they are external and any changes made will most likely be over written with the next update of SwaggerUI.

You could consider running the hapi-swagger documentation on its own connection. This way you could apply blankie to the main connect without the above issues

[2017-01-08 17:21] #380 closed

[2017-01-09 03:39] TangMonk commented on #387
@glennjones thanks for your reply, I change `pathPrefixSize ` to `2`, it works , but I am confused of `pathPrefixSize` now

[2017-01-14 03:42] TangMonk opened #390 "Blockquotes markdown not work in documentation description"
using:

[code]
not proper rendered , it just render plain text, it should be:

[2017-01-15 17:01] glennjones commented on #390
@TangMonk The markdown conversion is done by SwaggerUI library https://github.com/swagger-api/swagger-ui and it uses marked.js https://github.com/chjj/marked. I think this is more of issue to be raised with these modules.

As its not something I can change, I am going to close this issue. Please feel free open it again if you feel the problem is within `hapi-swagger`

[2017-01-15 17:01] #390 closed

[2017-01-16 01:59] TangMonk commented on #390
thanks it is a issue with marked https://github.com/chjj/marked/issues/790

[2017-02-06 16:02] Bazze commented on #323
Hello there! Any progress on this issue? I would be happy to contribute to resolve this issue, since I want our generated documentation to be as complete as possible.

Please do give me some pointers and I'll get started on a PR.

[2017-02-08 12:50] ns3777k commented on #370
I guess I ran into related problem.

Imagine you have only one site with public host - http://example.com/ and you develop a microservice. Microservice itself cannot have a public domain and in order to get some data from it (via ajax for example) there's a proxy_pass from nginx location like `/api/microservice` that leads to the microservice.

I didn't find a way to open 'http://example.com/api/m

[2017-02-08 12:54] ns3777k commented on #370
Accidentally  post on wrong issue. Nevermind.

[2017-02-08 12:55] ns3777k commented on #363
@danactive @indreek any progress here? I really need it :-)

[2017-02-08 18:14] danactive commented on #363
@ns3777k No I changed priorities at work, so I haven't verified this PR yet. I still need this feature though

[2017-02-09 18:20] danihodovic opened #392 "Validating and documenting a 204 No Content endpoint"
#### Context

* *hapi-swgger version*: 7.6.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to document my delete endpoint. It returns a statusCode of 204 No Content. I'm not sure how to document this endpoint and the response. If I leave the statusCode out in the validation, it won't show up in `/documentation`. If I put `204: Joi.

[2017-02-13 06:51] dinusuresh opened #393 "Tags don't work as exepectd"
#### Context

* *hapi-swgger version*: 7.6.0

#### What are you trying to achieve or the steps to reproduce ?

I am trying to group api end-points based on tags.

For example, I have the following endpoints:

| URL                | METHOD | DESCRIPTION                             | TAGS     |
|--------------------|--------|-----------------------------------------|----------|
| /petstore

[2017-02-14 04:32] ketanhdoshi opened #394 "Internal Server error when trying to follow Quick Start steps"
#### Context

I have a brand new hapi and hapi-swagger project with the latest version 7.6. I was following the QUick Start tutorial on the home page. On going to the /documentation page, I got an Internal Server error "failed to decode downloaded font". After poking a bit I changed the URL for the two fonts in typography.css to webfonts. Now it gives the following error:

500 : {"statusCode":500,

[2017-02-14 08:23] glennjones commented on #394
Hi

Loaded up the above code and it did fail. The issue is that you use an incorrect property name `apiversion` in the plug in options, it should be `version`.

The node console should give the error
[code]

The CSS stuff is not a problem which will stop a node server.

Hope this helps. I will close this issue, but if you are still having problems get back to me

[2017-02-14 08:23] #394 closed

[2017-02-14 08:30] ketanhdoshi commented on #394
Thanks very much, that fixed it....Ketan.

On 2/14/2017 1:53 PM, Glenn Jones wrote:

[2017-02-15 05:03] richardlay commented on #393
FYI I've created a [pull request](https://github.com/glennjones/hapi-swagger/pull/395) to group using tags

[2017-02-15 07:12] dinusuresh commented on #393
@richardlay Thanks! Works as expected :+1:

[2017-02-22 06:43] #393 closed

[2017-02-23 10:43] peveuve opened #398 "Array and object descriptions in generated doc"
#### Context

* *hapi-swagger version*:
7.4.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

It seems impossible to display the description of an array in the generated UI. The array is an attribute of an object.

[code]

#### What result did you get?
tags (tags, optional)

tags [
string
]

#### What did you expect ?
tags (tags, optional): tag

[2017-02-26 01:59] dylancwood opened #399 "Support Joi.array().items(Joi.any())"
#### Context

* *v6.2.1*:

#TL;DR
Would it be possible to backport the following change so that `Joi.array().items(Joi.any())` will work in hapi < 14? https://github.com/glennjones/hapi-swagger/commit/5c53c7183d53f9e68e050ec3f3b135355c633d22#diff-327455fa29663c58312adf5955056773R420

OR

Let this issue serve as documentation that people should just omit `.items(Joi.any())` if they are using < v7.0

[2017-03-01 14:37] kroney commented on #257
@glennjones, @doron2402: I think this is still a problem.

[2017-03-02 09:40] vibhanshuc commented on #363
@danactive I also really need it.

[2017-03-02 09:43] kodekracker commented on #363
@danactive plz verify PR soon. I wish this feature will be in next release.

[2017-03-04 19:20] mmc41 opened #400 "Payloads described and validated by Json Schemas rather than Joi?"
I am using hapi-swagger with great success and satisfaction to document my api. The only difficulty I have run into is how to document the payload formats in swagger, since I am using json schema to validate my models rather than Joi. It would be real nice if Hapi-Swagger could support this ?

[2017-03-06 11:49] Gita-Sahu opened #401 "Checkbox in hapi-swagger"
Hi Team

 Is it possible to have a parameter of type "query" where multiple checkbox can select?
If yes, could you please provide me the code.

Thanks
Gita Sahu

[2017-03-06 17:06] larromba opened #403 "x-meta fields after response field merge"
#### Context

* *hapi-swgger version*: 7.7.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Create a route as below, with a somple Joi schema, and an extra meta data tag

[code]

#### What result did you get?

It seems if a schema is provided as normal, along with 'extra' fields in the 'hapi-swagger' plugin, the extra fields are lost in the ge

[2017-03-08 15:50] larromba opened #405 "x-meta on route level"
#### Context

* *hapi-swgger version*: 7.7.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Create a route as below, noting the meta data tag in 'hapi-swagger'

[code]

#### What result did you get?

The x-meta tag does not appear in the swagger json at the route level

#### What did you expect ?

[code]

[2017-03-10 08:55] CNBlackJ opened #408 "May be this colon(:) in a wrong position."
* https://github.com/glennjones/hapi-swagger/blob/master/optionsreference.md
*
![image](https://cloud.githubusercontent.com/assets/21023227/23788588/1994e864-05b2-11e7-89ff-5ca2d5488f9b.png)

[2017-03-11 12:24] mmc41 commented on #321
Examples appear to broken still in v7.7. For instance, this code yields an empty example {} for the body in the generated example rather then the expected { x: 42 }:

[code]

[2017-03-11 12:35] mmc41 opened #409 "Notes, description and example ignored when specified for payload (v7.7)"
#### Context

* *hapi-swgger version*: 7.7
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Notes, description and example ignored when specified for payload (see also #321):

[code]

#### What result did you get?

Neither description or note text is shown and the example is incorrectly shown as just {} in the generated swagger documentation web

[2017-03-11 15:11] keyCat commented on #363
Hi. I would also like to have this feature very much. Is there, by any chance, a way to simply add
`<base href="${hapiSwagger.basePath}" />`
to the `<head>` of Swagger HTML file?
This should solve the issue pretty nicely.

[2017-03-12 13:34] 5c077yP opened #410 "Remove `type` property from *object* schema definition when using `$ref`"
#### Context

* *hapi-swagger version*: v7.7.0

#### What are you trying to achieve or the steps to reproduce ?

The Swagger Editor marks the `type` property on any schema definition when using `$ref` as irrelevant.

#### What did you expect ?

I'm wondering if we can remove it?

[2017-03-13 09:37] vyo commented on #363
@indreek I had a look at this and deployed it behind a reverse proxy of our own; lgtm.

Since our service also hosts the swagger docs this PR works fine as is. For setups involving swagger docs and API being served separately we might be better off specifying full paths to both API and swagger docs, respectively.

[2017-03-14 13:52] sandrom commented on #409
having same issue

[2017-03-14 14:05] l2silver opened #412 "Allow for option to prefix resource destination when using nginx to rewrite urls"
#### Context

* *hapi-swgger version*: latest
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to load hapi-swagger on a website where the url is being rewritten. http://website.com/my-website is rewritten to http://website.com

The problem is the resources point to http://website.com, but they're not there.

#### What did you expect

[2017-03-15 17:36] alhafoudh commented on #332
+1 this is really annoying

[2017-03-16 15:22] larromba opened #413 "Invalid swagger produced"
#### Context

* *hapi-swgger version*: 7.7.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Invalid swagger generated from conditionally required joi operation parameters. Create a hapi path like this:

[code]

#### What result did you get?

[code]

#### What did you expect ?

[code]

[2017-03-19 07:31] mmc41 opened #415 "Req: Ability to test swagger ui documentation with server.inject without starting server"
#### Context

* *hapi-swagger version*: 7.7

I am trying to test my hapi server setup. Using server.inject I can test all my endpoints without starting the server - expect the swagger UI and documentation page. In order to test if these endpoints are properly registered,  need to start the server.

#### What are you trying to achieve or the steps to reproduce ?

I would like to test if the swagger

[2017-03-20 10:50] lironess opened #416 "Show Authorization headers on response headers + automatically append to API KEY input"
#### Context

* *hapi-swgger version*: latest

#### What are you trying to achieve or the steps to reproduce ?

Describe your issue here, include example `route` or JOI schemas.

Hi. I'm using an hapi server influenced by [this example](https://github.com/glennjones/hapi-swagger/blob/master/examples/jwt.js). Is there anyway to:
1. show the returning authorization header on response headers when re

[2017-03-21 12:29] glennjones commented on #415
Hi

All the tests in the project use `server.inject`, so you should be able to achieve this. Take a look at the code in `/tests/integration/definitions-test.js` the code use a small helper library just to reduce the replication of the server creation code across all the tests.

You could test the swagger UI and documentation page URLs are been severed correctly by looking for a HTTP 200 response.

[2017-03-21 12:29] #415 closed

[2017-03-23 10:45] ricmalta commented on #392
Hi @danihodovic
I have a similar configuration as you and here is my solution:

[code]

The documentation output is like:
![screen shot 2017-03-22 at 15 52 49](https://cloud.githubusercontent.com/assets/5064023/24207305/6d66ad28-0f18-11e7-854a-e53e8d0e132a.png)

However, I think the swagger interface should somehow explicitly say "empty body"

[2017-03-23 10:58] danihodovic commented on #392
Related: https://github.com/hapijs/joi/issues/1117

[2017-03-29 12:59] mfernandes-git opened #417 "invalid swagger generated for Joi.date().min(Joi.ref('reference'))"
#### Context

* *hapi-swagger version*: 7.7.0

#### What are you trying to achieve or the steps to reproduce ?
I would like to use Joi to validate that an end date is greater than a start date.
The validation works fine, but the swagger that hapi-swagger generates is invalid.

[code]

#### What result did you get?
Validation works fine, but hapi-swagger generates :
[code]
But this is invalid.  Usi

[2017-03-30 14:54] mfernandes-git opened #418 "Swagger pattern is not correctly generated from Joi regex"
#### Context

* *hapi-swagger version*: 7.7.0

#### What are you trying to achieve or the steps to reproduce ?

I would like to use Joi to validate a string using a regex.  I also would like to provide a default value.
The validation works fine, but the swagger that hapi-swagger generates is invalid.  Swagger editor tells me that the default string does not match the pattern

[code]

#### What res

[2017-03-31 19:46] sledorze opened #419 "Array definitions of properties wrongly promoted as Object definitions."
#### Context

* *hapi-swagger version*: 7.7.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

I try to export a swagger definition for a simple object.

Define a JOI schema

[code]

Use it in a route
..
            tags: ['api', 'chat'],
            description: 'Create chat conversation between two users',
            validate: {

[2017-04-03 20:46] walshe opened #420 "generate a openapi.yaml file ?"
can the plugin generate a openapi.yml file that I can use for deployment to Google App Engine ?

[2017-04-05 04:41] failpunk commented on #338
I am still getting the same error:

[code]

- hapi: 16.1.0
- hapi-swagger: 7.7.0
- joi@10.2.2

[code]

If I switch the `then` from `forbidden()` to `required()` this works.

[code]

[2017-04-05 13:40] christianharke opened #421 "Field always required even if condition `any.when(ref, { then: Joi.required() })` is not met"
#### Context

* *hapi-swagger version*: 7.7.0
* *any other relevant information*:
  * joi version: 10.4.1

#### What are you trying to achieve or the steps to reproduce ?

I have a conditional query parameter which is required only when another query parameter has a specific value (comparable to the second code snippet in the [joi docs](https://github.com/hapijs/joi/blob/v10.4.1/API.md#anywhenref-

[2017-04-10 11:25] glennjones commented on #420
If you need a one off conversion you could just paste the JSON into http://editor.swagger.io/#!/ and export it.  They use `js-yaml` to do the conversion. You can see the code here https://github.com/swagger-api/swagger-editor/blob/master/src/plugins/editor/editor-plugins/json-to-yaml.js  You could do the same in the short term.

I need to spend some time just checking out how it all work and if th

[2017-04-13 14:29] mmc41 commented on #415
The integration test examples listed all does a server.inject to get "swagger.json" which works fine also for the. I am however, unable to retrieve the generated html UI for swagger using server.inject. The route is only enabled when I actually start the server.

[2017-04-23 10:49] gophry commented on #121
The below is not working in 7.7.0 either.
Blank swagger ui.
![image](https://cloud.githubusercontent.com/assets/5588896/25312836/75b1ae6a-2840-11e7-9a4e-99f1d289bce3.png)

[code]

[2017-04-23 10:54] gophry opened #422 "Hapijs routes not working with plugins and prefix."
#### Context

* *hapi-swgger 7.7.0*:
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
Hapijs routes not working with prefix.
[code]

#### What result did you get?
Blank swagger ui.on /documentation
![image](https://cloud.githubusercontent.com/assets/5588896/25312836/75b1ae6a-2840-11e7-9a4e-99f1d289bce3.png)

#### What did you expect ?
routes defi

[2017-04-25 07:42] glennjones commented on #422
Hi I think your missing the `api` tag which informs the plugin to treat a route as a API endpoint. You need to add the `tags: ['api']` to the `config` of your route  ie

[code]

That should fix your problem, if not get back to me

[2017-04-25 07:42] #422 closed

[2017-04-27 12:14] mcorbe opened #423 "How do specify password swagger UI data types ?"
#### Context

* *hapi-swagger version*: v7.70
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Swagger UI specifies a password data type that tells UIs to obscure the input field: http://swagger.io/specification/.

Looking at the route plugin document: https://github.com/glennjones/hapi-swagger/blob/master/optionsreference.md, I tried the follow

[2017-04-28 13:04] indianscout commented on #338
Same here:
[code]

[code]

[2017-04-28 13:41] iyel opened #424 "How to use with webpack"
#### Context

* *hapi-swgger version*: 7.7.0
* *any other relevant information*: webpack 2

#### What are you trying to achieve or the steps to reproduce ?
build project with webpack

Describe your issue here, include example `route` or JOI schemas.

When I start server I receive next result

#### What result did you get?
[code]

#### What did you expect ?
I can access documentation page

[2017-05-02 15:02] gophry commented on #398
I have used label on array it works.

[code]

[2017-05-02 18:01] Fr8Traindb commented on #363
Any progress on this?

[2017-05-02 18:02] Fr8Traindb commented on #412
I am having this same problem.

[2017-05-03 08:09] gophry opened #425 "Nested object label overrides all objects inside."
#### Context

* *node version*: 6.10.1
* *joi version*: 10.4.1
* *environment* (node, browser): node
* *used with* (hapi, standalone, ...): hapi
* *any other relevant information*:  hapi is 16.1.0 and hapi-swagger is 7.7.0

#### What are you trying to achieve or the steps to reproduce ?

Describe your issue here, include schemas and inputs you are validating if needed.

[code]

#### Which result y

[2017-05-03 09:55] iyel commented on #424
I've found out that ```__dirname``` resolves to ```/``` here https://github.com/glennjones/hapi-swagger/blob/master/lib/index.js#L60 if I build my project with webpack

[2017-05-03 10:11] iyel commented on #424
Ok. Setting
[code]
in webpack config fixes the issues.
Thanks myself

[2017-05-03 10:11] #424 closed

[2017-05-03 12:22] johanneslumpe opened #426 "Handlebars not replacing variables"
#### Context

* *hapi-swgger version*: 7.7.0
* *any other relevant information*:

`inert` version: 4.2.0
`vision` version: 4.1.1

#### What are you trying to achieve or the steps to reproduce ?

Trying to view the swagger ui page. I simply registered `hapi-swagger` with the server using the default settings, after registering `inert` and `vision`.

#### What result did you get?

The swagger ui pag

[2017-05-19 14:18] hostiphur commented on #338
I'm having the same trouble when using Joi.forbidden(). I stepped into the hapi-swagger code and "fixed" the issue by adding a check for `property`. I'm not sure if this is the right way to fix things though. If it is, then I'll open a PR, or someone on the team can fix it real quick. It was literally a one word add.

in lib/properties.js
[code]

I added `property &&` to the beginning of the if st

[2017-05-24 18:21] sbaum1994 commented on #409
Same issue

[2017-06-12 16:48] skeep opened #432 "Support of custom header"
#### In our api we have a custom header. I am unable to find a way to add it in hapi-swagger

* *hapi-swgger version*:
7.7.0

#### What are you trying to achieve or the steps to reproduce ?
Unless I have the custom header my api calls will return error. When I curl the api just by adding the header along with api key it work. I have found a way to add api_key text fiend on top using `securityDefin

[2017-06-13 14:57] miqui opened #433 "Cannot install hapi-swagger using yarn"
#### Context

yarn add hapi-swagger
yarn add v0.24.5
info No lockfile found.
[1/4] Resolving packages...
error Couldn't find manifest in "git+https://github.com/glennjones/hapi-swagger.git".
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.

#### What result did you get?
see above
#### What did you expect ?
no error msg, hapi-swagger module installed (just like w

[2017-06-13 15:09] skeep commented on #433
Interesting I am using yarn to install hapi-swagger. It works.

[2017-06-13 17:42] ricktbaker opened #434 "grouping not allowed?"
#### Context

Latest hapi-swagger from npm install

#### What are you trying to achieve or the steps to reproduce ?

Group endpoints by tag

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?
[code]
#### What did you expect ?

Expected to be able to pull up documentation and have them grouped by tags

[2017-06-13 17:50] #434 closed

[2017-06-13 17:50] ricktbaker commented on #434
Was using an older version.   Forced an update to 7.7.0 and it's resolved.

[2017-06-15 09:26] cvillerm commented on #433
Hi @miqui, I think I know you...

As I know the context of your question, I know that the version of hapi-swagger that you are trying to install indirectly (child dependency) is based on a direct reference PR #396 submitted to this repo as we don't manage to get any feedback from @glennjones or whoever is now maintaining this repo.

The problem between npm and yarn is that they don't support the s

[2017-06-15 09:32] cvillerm commented on #432
@skeep , did you try to add a validation option like the following one in your route configuration:

[code]

[2017-06-15 11:11] 6mo opened #435 "is it possible to hide a specific header ?"
#### Context

* *hapi-swagger version*: v7.7.0

#### What are you trying to achieve or the steps to reproduce ?
I want to hide some specific header from being displayed on swagger.

Below an example of a header:
[code]

The goal is to not have `x-custom-header` in the generated swagger.

I checked the user guide and it seems not be supported. is it right ? is there a way to hide it ?

[2017-06-15 11:13] jelaxshan opened #436 "How do you specify paramterType in hapi-swagger using Joi"
#### Context

* *latest hapi-swagger version*:

## What are you trying to achieve or the steps to reproduce ?

The parameter type is always set to path, but would like it to be something else such as cookies or request. Using latest JOI version.

[2017-06-15 12:01] cvillerm commented on #423
It looks like that `public/swaggerui/swagger-ui.js` is able to set the type of a parameter UI field to 'password' so that it would behave as you describe, but this will happen only if the route parameter has a *format* property defined as `'password'`, but I didn't see any way (except maybe by creating a custom Joi extension) to define the format of a parameter.

[2017-06-16 18:43] jlabonski commented on #238
I'm bumping into this.

[code]

The Swagger UI makes this `curl` request:

[code]

UI shows "Request URL" of `https://localhost:8000/api/foo/{id}`

Response Body:
[code]
{
  "statusCode": 400,
  "error": "Bad Request",
  "message": "child \"id\" fails because [\"id\" must be a number]",
  "validation": {
    "source": "params",
    "keys": [
      "id"
    ]
  }
}
[code]

[2017-07-05 16:44] ianbale opened #438 "401 error if not logged in?"
V 7.7.0

I have setup JWT authentication. Other than my login page, all other pages require authentication to view - apart from the swagger /documentation pages. They can be viewed when not logged in.

I can't find any documented mechanism to return a 401 error if the user is not logged in. Is this possible?

[2017-07-17 22:07] tnunamak opened #440 "Cannot enforce Content-Type: sends "Content-Type: application/json, application/json""
#### Context

* *hapi-swgger version*: 5.1.0
* *any other relevant information*: hapi 14.1, node 8

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to enforce that Content-Type is application/json in requests that are POSTed to my API.

[code]

#### What result did you get?

When using lowercase "content-type," hapi-swagger makes a request with a bad content type.

![](

[2017-07-19 06:17] #342 closed

[2017-07-29 17:02] sfabriece opened #442 "FEATURE: sorting by method or url/filtering"
#### What are you trying to achieve or the steps to reproduce ?

It would be nice to be able to sort of filter the list of routes

EDIT:

Closing. I hadn't noticed that there are already ways to customize grouping.

[2017-07-29 17:15] #442 closed

[2017-08-01 09:04] cjnqt commented on #380
Blankie (the Content Security Policy plugin) can be disabled on a route basis. So if we had access to the /documentation route, we could set ```
options: {
  plugins: {
     blankie: false
  }
}
[code]

[2017-08-01 11:26] darahayes opened #443 "Question: Are there Plans to Upgrade to the Latest Swagger UI?"
Firstly, thanks so much for your module. We use it a lot at our company and are very hapi with it (sorry for the terrible pun :)) That said I have a question about the Swagger UI version.

Currently `hapi-swagger` serves Swagger UI v 2.2.4, but is there any plan/initiative to update this to version 3.x?

I've made a fork of your repo here [@darahayes/hapi-swagger](https://github.com/darahayes/hapi

[2017-08-03 08:45] aalimovs commented on #443
Seems work on the repo slowed down a bit with the last commit back in February 2017.

@glennjones hope you're doing well! I believe hapi-swagger became a crucial part of the hapi ecosystem. Is it worth looking at community getting involved to get it back to speed?

[2017-08-11 11:43] darahayes commented on #443
In the meantime, for anyone else coming across this issue. I would love to get your feedback on [hapi-swagger-next](https://npmjs.com/package/hapi-swagger-next). It's fork of this project and works as a drop-in replacement, but it delivers the latest Swagger UI.

I would love to see this module get updated and would be very happy to help.

[2017-08-15 18:27] vmharrel commented on #443
@darahayes - Thanks for forking the project to add the latest updates.  Did you include `operationsSorter` and `tagsSorter` to the list of options?

[2017-08-15 18:29] vmharrel commented on #340
@glennjones - since `apisSorter` and `operationsSorter` would override other features of `hapi-swagger`, how would we go about making these changes to our `local` version?

[2017-08-15 22:07] salsini opened #445 "Open to allowing x-forwarded-prefix header for swagger.json route?"
Hi, first off thank you so much for building this module, it is incredibly useful! I was wondering how open you were to the following proposal..

The `getRoute` method currently allows for an x-forwarded-host header to [overwrite](https://github.com/glennjones/hapi-swagger/blob/master/lib/builder.js#L177) the host value used in the automated swagger.json route. Was wondering if you would be open t

[2017-08-17 17:16] darahayes commented on #443
@vmharrel I've added those options [here](https://github.com/darahayes/hapi-swagger/blob/8d2895bbddb6a00c363efa71f0df841b2e1685f1/public/swaggerui/index.html#L109-L110):

https://github.com/darahayes/hapi-swagger/blob/8d2895bbddb6a00c363efa71f0df841b2e1685f1/public/swaggerui/index.html#L109-L110

I'll admit I haven't tested it out but the options are fed in the same way as in the old UI.

[2017-08-20 10:57] #403 closed

[2017-08-20 10:58] #405 closed

[2017-08-20 12:53] #413 closed

[2017-08-20 14:27] glennjones commented on #443
Hi All, I am snowed under with work commitments at the moment and will be well into next year. So after keeping on top of `hapi-swagger` for 3/4 years things have slowed up.

Happy to have a look at new UI. Part of why I created this plugin was so that HAPI projects could sit side-by-side with .Net and Java projects using swagger. I think it’s important to add to upgrade for the same reason otherw

[2017-08-23 08:32] Eirik81 commented on #130
As far as I can see these examples don't show how to validate response headers, only the response payload. Would be great if someone could show an example of how to validate response headers.

[2017-08-24 06:13] sibinx7 opened #447 "Swagger on namespace routes and plugins routes"
* *hapi-swgger version*:7.7.1
* *any other relevant information*:

Can we add swagger in one place, so all routes under namespace or plugin will get swagger, without specifying it in each routes

Is there something like this...
[code]
[code]
Or can we add paths and tags in options

[2017-08-28 14:18] thiagoarioli opened #448 "Remove one method from docs"
There is one way to remove some specific methods from UI docs?
swaggerUI = false only works for all project and not an only specific method.

Thanks

[2017-09-04 14:00] arb opened #449 "Sharable Client"
I'm one of the maintainers of https://github.com/continuationlabs/swagger-jacker which provides essentially the same functionality as hapi-swagger but for express servers. When we published the initial release, we just copy and pasted the client code from this project and reused it that way. However, and as expected, the two have diverged. I was wondering if you'd be open to creating a shared clie

[2017-09-06 19:36] glennjones commented on #449
Hi I am hoping to look the current use of the swagger-ui client code over the weekend. I want to find a way to break out the swagger-ui so that users of the plug-in can pick v2 or v3 style UI.  So considering creating npm packages is part of that review. I will have a look at this, if we can shared client packages I would not be against it.

Where have you seen things  diverge, interested to see i

[2017-09-18 14:08] robmcguinness opened #450 "hasFileType fails with circular dependency error with Joi v11.0.0+"
#### hapi-swgger version:

`v7.7.1`

#### What are you trying to achieve or the steps to reproduce ?

Trying to render the the Swagger UI using **Joi** `>=v11.0.0` for payload validation results in:

[code]

`hapi-swagger` tries to determine the `swaggerType`...

[code]
...and `JSON.stringify` fails with a circular dependency error.

It appears **Joi** `>=v11.0.0`  introduced a circular dependency

[2017-09-19 04:32] aboglioli commented on #450
I'm having the same issue

[2017-09-20 11:59] phuongla commented on #450
I'm too.

[2017-09-20 15:30] #450 closed

[2017-09-20 16:51] fozzylyon opened #452 "Release v7.8.1 dependency issue"
#### Context

* *hapi-swgger version*: 7.8.1
* *any other relevant information*: Using

#### What are you trying to achieve or the steps to reproduce ?

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?

#### What did you expect ?

[2017-09-20 16:51] #452 closed

[2017-09-26 07:02] rokoroku opened #454 "TypeError: Swagger 2.0 does not support null types"
#### Context

* *hapi-swgger version*: 7.8.1
* *any other relevant information*: this error might related to Joi.alternatives().try()

#### What are you trying to achieve or the steps to reproduce ?

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?
[code]

#### What did you expect ?
Swagger.json do not have any `null` values in `types` array

[2017-09-26 17:17] openam commented on #448
Don't add the `tags: ['api']` in your config. https://github.com/glennjones/hapi-swagger#tagging-your-api-routes

[2017-09-27 12:25] tomec-martin opened #457 "No documentation after upgrade from 7.7.1 to 7.8.1"
#### Context

* *hapi-swgger version*: 7.8.1
* *any other relevant information*: works in 7.7.1

#### What are you trying to achieve or the steps to reproduce ?
We generate http documentation for hapi server. After update hapi-swagger from 7.7.1 to 7.8.1. the documentation shows only link to https://swagger.io/. For the 7.7.1 version the documentation is generated correctly.

#### What result did

[2017-09-27 13:49] PetrSnobelt commented on #457
I add some more information. We have all routes under auth by default using:

[code]
So we add `auth: false` to swaggerOptions (which BTW is not mentioned in readme).

And when I investigate sources, it looks like there are missing auth options for some routes, for example https://github.com/glennjones/hapi-swagger/blob/master/lib/index.js#L165 and
https://github.com/glennjones/hapi-swagger/blob/m

[2017-09-27 13:52] PetrSnobelt commented on #457
https://github.com/glennjones/hapi-swagger/pull/458

[2017-10-03 11:50] TerryMooreII commented on #438
I am having the same issue with version 7.8.1

[2017-10-04 17:11] xebu commented on #438
same

[2017-10-05 08:13] USSliberty commented on #438
There is a pull request about this issue: https://github.com/glennjones/hapi-swagger/pull/460
I've tried that and it seems to work fine.

[2017-10-05 11:41] punkish opened #461 "api complains if optional path param is not provided"
#### Context

* 7.8.0:

#### What are you trying to achieve or the steps to reproduce ?

I have an optional path param with a validation schema. The api complains if the param is not provided even though it is optional

[code]

#### What result did you get?

If I don't provide an id in the Swagger ui, I get an error that validation failed even though the id is optional.

#### What did you expect ?

[2017-10-05 14:33] punkish opened #462 "subtype dependent on type doesn't change in the ui"
#### Context

* 7.8.0:

#### What are you trying to achieve or the steps to reproduce ?

Have a `subtype` query param change based on the parent `type` param

Describe your issue here, include example `route` or JOI schemas.

[code]

#### What result did you get?

The *subtype* only shows **png** and **jpg** as choices. Even if I change the type to *publication*, I still see the image subtypes.

#

[2017-10-09 21:10] rossanthony opened #463 "Support for x-amazon extensions for AWS API Gateway"
We are looking to be able to generate an AWS API Gateway compatible swagger.json file which could be used to automate the setup of an API Gateway as part of our deploy process.

Curious to know if there is any plan to support the inclusion of the AWS API Gateway Extensions into the swagger file that the hapi-swagger extension outputs? As defined here: http://docs.aws.amazon.com/apigateway/latest/d

[2017-10-10 22:23] punkish opened #464 "documentation for different API versions – how?"
#### Context

* 7.8.0

#### What are you trying to achieve or the steps to reproduce ?

I'd like to have documentation for different API versions. For example, `<server>/v1/docs` and `<server>/v2/docs` or even `<server>/docs?api=v1` and `<server>/docs?api=v2` (haven't yet settled on how to do that versioning).

How would I achieve the above?

[2017-10-11 09:31] prugel commented on #464
I added a few things to html.

[code]

[code]

[code]
From now on, you can choose the version by select.

[2017-10-12 14:16] vforv opened #465 "Urls wrong on the swagger documentation page when path is diffirent"
#### Context

* *hapi-swgger version*:
"hapi-swagger": "^7.7.0",
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

Documentation doesn't show because links are wrong.
So I have basic setup and everything works fine in localhost but have problem on the host:
https://aaab39cb8a90311e7854102ef3285844-2098082216.us-east-2.elb.amazonaws.com/titan/v0.1

[2017-10-13 12:30] click2install opened #466 "Documentation page not served correctly when authentication is enabled"
#### Context

* *hapi-swagger 7.7.1*:
* *hapi-auth-jwt2 7.3.0*:

#### What are you trying to achieve or the steps to reproduce ?

When the `hapi-auth-jwt2` plugin is enabled, by default it adds auth to all routes, hapi-swagger is excluding `settings.documentationPath` from authentication but it is not excluding the static resources for that page to render correctly and therefore only a single unst

[2017-10-16 15:50] cyberabis commented on #465
The problem appears to be with new 7.8.1 release, as a workaround downgrade to "hapi-swagger": "7.7.1" in your package.json, reinstall and it should work. PS: I have removed the "^" from the version for an exact match.

[2017-10-18 14:10] xkr47 commented on #466
The settings.auth propagation was removed in 7059c17ea67f82917249fce855674f9c7220602b

[2017-10-18 14:16] xkr47 commented on #466
Would the problem perhaps be resolved by adding `auth: settings.auth === false ? false : undefined` in the `config` parts?

We specify `auth: false` when loading hapi-swagger, which I believe is the opposite situation that the commit referenced above attempts to fix. So it breaks when `auth: false` is used..

[2017-10-18 14:18] xkr47 commented on #466
Or should it perhaps be just `auth: false` always in the `config` parts?

[2017-10-18 15:12] incubus8 opened #469 "Error using Joi.forbidden in conditional '.when'"
#### Context

* *hapi-swgger version*: all versions
* *any other relevant information*: Joi schemas

#### What are you trying to achieve or the steps to reproduce ?

At the moment, `hapi-swagger` is not able to resolve `Joi.forbidden` with `.when`, see the following JOI schema example:

[code]

#### What result did you get?

[code]

#### What did you expect ?

It should not throw error, and able t

[2017-10-18 15:57] xkr47 commented on #466
Ok this seems to be fixed through #453, can you retest @click2install ?

[2017-10-18 17:21] #454 closed

[2017-10-18 18:53] Y-LyN-10 commented on #466
I had the same issue and #453 solved that for my case :+1:

[2017-10-18 21:01] glennjones commented on #464
Hi you can add extra tags to each route and then call them using a query string

[code]

http://localhost:3000/documentation?tags=v1
http://localhost:3000/documentation?tags=v2

If you don't the querystring proxy them through nginx.

[2017-10-18 21:01] #464 closed

[2017-10-19 00:07] justinffs opened #470 "Upgraded Boom dependancy causes yarn install to fail"
#### Context

* *hapi-swgger version*: 7.9.0
* *any other relevant information*: Node Version 6.10

#### What are you trying to achieve or the steps to reproduce ?

Updating dependency of Boom to v6.0.0 fails with yarn install.  This is due to Boom 6 requiring node version 8+.  If your node version is "node": ">=4.0.0" then shouldn't the dependencies have the same node version requirements?

####

[2017-10-19 02:48] click2install commented on #466
@xkr47 Working as expected now, thank you :)

[2017-10-19 06:06] xkr47 commented on #466
@click2install guess you can close the issue then? :smile:

[2017-10-19 06:29] xkr47 commented on #465
@vforv Does the new 7.9.0 fix this issue?

[2017-10-19 11:17] glennjones commented on #470
Thanks for pointing this out. Its my fault for not taking the time to understand the major changes in the underlying modules upates was a move to `async`. I have tried to correct the error two ways:

* Released v7.9.1 - which supports `"node": ">=4.0.0"` and should be selected by npm over v7.9.0
* Released v8.0.0 - which supports `"node": ">=8.0.0"`

Hopefully this will work in a way everyone expe

[2017-10-19 11:17] #470 closed

[2017-10-19 15:16] justinffs commented on #470
@glennjones Thank you very much for the quick turn around!

[2017-10-19 22:42] #466 closed

[2017-10-23 21:53] vforv commented on #465
No have still the same problem....

[2017-10-24 19:04] timcosta opened #472 "Hapi v17 Support"
### Overview
If you are not aware yet, Hapi v17 is making the transition from callbacks to `async`/`await`, as well as deprecating some other rarely used functionality. This is a breaking change that may make your plugin no longer compatible with the Hapi API.

#### Changelog
Draft release notes can be found here: https://github.com/hapijs/hapi/issues/3658

#### Target Release
The target release d

[2017-10-25 14:59] vforv opened #474 "Auth with custom JWT auth"
#### Context

* *hapi-swgger version*:
"hapi-swagger": "^7.9.0"
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I trying to protect swagger documentation with custom JWT auth. I am using just jonsonwebtokens lib and protecting routes with pre hook.

Describe your issue here, include example `route` or JOI schemas.

I don't see any option i swagg

[2017-11-01 09:34] cjnqt commented on #470
Seems like this isn't closed yet...
hapi-swagger installs hoek@5.0.1 which requires node >=8.8.0.

So installing with node < 8.8.0 fails.

[2017-11-01 18:40] cjnqt opened #476 "Regression: Setting x-alternatives on property stopped working"
#### Context

* *hapi-swagger version*: 8.0.0

#### Info

[This commit](https://github.com/glennjones/hapi-swagger/commit/b074e11ccea42a436edd05ac2fd1817fdaf32819#diff-327455fa29663c58312adf5955056773R516) removed the test if `property` exists on line 517 of properties.js. The problem is that  [line 529](https://github.com/glennjones/hapi-swagger/commit/b074e11ccea42a436edd05ac2fd1817fdaf32819#dif

[2017-11-05 11:54] cjnqt commented on #33
Shouldn't the different `.alternatives()` be possible to implement in OpenAPI 2 using the `discriminator` field:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#composition-and-inheritance-polymorphism ?

[2017-11-06 07:56] BorntraegerMarc commented on #472
Any update on hapi v17 support?

[2017-11-08 15:46] ruionwriting commented on #417
Same here @mfernandes-git. I can't get my integration tests to pass when running the spec validation. In my case the error is:
[code]

[2017-11-12 05:59] niksmac opened #477 "Example code should work as it is"
#### Context

* *hapi-swgger version*: 8.0.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
Install all the packages and try copying/pasting your sample code section into main file `server.js`

Describe your issue here, include example `route` or JOI schemas.

Obtain server.js from api website https://hapijs.com

#### What result did you get?

[2017-11-12 16:01] glennjones commented on #472
Hi - sorry about the delay working 6/7 day weeks at the moment. I have a free block of 3-4 hours on Wednesday 22nd. I will have a look at then.

[2017-11-13 12:34] ghost opened #478 "Authorization input box is not showing in rest-hapi API swagger UI"
#### Context

my package.json is look like

* *hapi-swgger version*:    "hapi-swagger": "^2.2.4",

please give me solution

[2017-11-13 12:38] Shashwat78 commented on #478
![hapi1](https://user-images.githubusercontent.com/25928226/32726077-a0f1f3d4-c89d-11e7-90ca-eb300ab9a9d9.png)

[2017-11-14 22:46] herrmannplatz commented on #472
Willing to help!

[2017-11-14 22:50] bakarydiarra commented on #477
I have the same issue ! Also the vision dependency uses async so I had to update my node from 6.9 to 8.9.

[2017-11-15 01:02] bakarydiarra commented on #477
@niksmac, the issue is related to the vision dependency. Indeed the version that is installed by default is 5.1.0 with the following message
[code]
I have downgraded to the version 4.0.0 and it started working.

[2017-11-15 01:18] wswoodruff commented on #477
Vision `5.x.x` is updated to `hapi v17` which includes breaking changes, sorry for the troubles!

[2017-11-17 10:13] jandockx commented on #443
[@darahayes/hapi-swagger](https://github.com/darahayes/hapi-swagger) does not allow issues, sadly, but I thought I'd report here that it (`^1.0.0`) doesn't work for me. There seems to be a problem with Joi schemata:

    2017-11-17T10:04:22.814Z, [response] http://localhost:3000: get /swagger.json {} 500 (19ms)
    Debug: internal, implementation, error
        TypeError: Uncaught error: Convertin

[2017-11-17 16:56] J0NNYZER0 opened #479 "Show routes based on config: { auth: { scope: [ 'role1', 'role2' ] } }"
With the latest version of swagger is there a way to show and hide endpoints based on someone's role? I could have sworn I saw an option which could do this. Is there a way?

[2017-11-17 17:09] J0NNYZER0 opened #480 "How do I use "securityDefinitions" option?"
Can you provide an example of how to use your securityDefinitions option with hapi-auth-cookie?

[2017-11-17 20:18] J0NNYZER0 commented on #479
My goal here is to expose portions of my API based on my scope property values. If user2 isn't in scope on route1 then user2 shouldn't see the endpoint in the swagger ui

[2017-11-23 20:21] #419 closed

[2017-11-24 13:16] edimoldovan commented on #472
@glennjones Any updates on this? Many of us would gladly help.

[2017-11-26 14:18] varmint09 commented on #472
I'd also happily help if it quickens up the process.

[2017-11-26 21:05] robmcguinness commented on #472
I've added a PR that still needs work. Most of the unit test are passing minus the tests that are dependent on 3rd party plugins which have not yet upgraded to `v17`. Hopefully it's a starting point that helps @glennjones or others to use.

I'll continue working on the PR as I have time and if @glennjones doesn't have objections.

[2017-11-29 06:56] fouadkada opened #482 "Nginx proxy_pass configuration help"
As with most node apps sitting behind nginx, I am facing issues make it work.

I've done similar configuration for lout where it's enough to add in the nginx conf file the following
` location /docs {
   proxy_pass http://127.0.0.1:3000;
  }`

adding something like the following doesn't work and results in multiple 404 while loading the swagger page:

` location /documentation {
   proxy_pass http

[2017-12-02 08:11] olavim opened #484 "hasFileType is very slow with Joi version >=11.0.0"
In the `hasFileType` function in [paths.js#L389](https://github.com/glennjones/hapi-swagger/blob/master/lib/paths.js#L389), `fast-safe-stringify`  is used instead of `JSON.stringify` to support circular references that came with Joi v11.0.0. Despite its name, `fast-safe-stringify` provides awful performance with complex route configurations (some of our routes take more than 3 seconds to stringify

[2017-12-10 06:01] acoulon99 commented on #482
@fouadkada
I was able to solve this issue, but it still feels a bit awkward..

This is my nginx location block:
[code]

Swagger Plugin Options:
[code]

[2017-12-11 10:00] glennjones commented on #472
Hi All @robmcguinness has done some great work with his PR #481 - I have finally found a bit of time to review it and I am hoping to move it forward with peoples help. I have merged this work into a branch while its finished off https://github.com/glennjones/hapi-swagger/tree/feature/hapi-17

[2017-12-11 16:20] igorgolovanov opened #485 "Parse fails when using function as default value in Joi schema"
#### Context

* *Hapi Swagger 8.0.0*

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to use **Joi** default value as function with context parameter.
You can see in https://github.com/hapijs/joi/blob/master/API.md#anydefaultvalue-description
next:

In next example - default value presents as function which calculate **offset** when **page** param exists:
[code]
But it

[2017-12-12 08:11] mdrobny commented on #360
I have the same problem with `joi.object().pattern()`

[2017-12-16 17:55] NachoJusticia commented on #254
Hi,
after trying different solutions I solved it by adding headers specification with Joi in the server routes that I want to accept the Authorization header. Here I show you a GET endpoint that required JWT authentication:

[code]

<img width="490" alt="captura de pantalla 2017-12-16 a las 18 55 14" src="https://user-images.githubusercontent.com/24293766/34073094-b210c780-e292-11e7-8073-7f9b02428

[2017-12-16 18:23] bsapot opened #486 "Plugin initialized twice w server restart"
I'm suggesting to reopen issue [276](https://github.com/glennjones/hapi-swagger/pull/276). It looks like the code to check if the plugin was already initialized was removed in the code reorg on 8/24/16. [commit](https://github.com/glennjones/hapi-swagger/commit/5c53c7183d53f9e68e050ec3f3b135355c633d22#diff-6d186b954a58d5bb740f73d84fe39073L126)

I'm seeing the plugin initialized twice when running

[2017-12-21 19:02] metaodi commented on #415
I ran into the same issue. How can i test the `/documentation` route added by this plugin using `server.inject`?

[2017-12-23 10:24] glennjones opened #487 "v9.x Release Notes"
Important Note: __v9.x drops support for Hapi < v17 and Node < 8__, due to the nature of the Hapi v17 rewrite: hapijs/hapi#3658.

Breaking changes:

- Hapi versions below v17.x are no longer supported. (For backward compatible use v7.x, I will maintain v7 brand for a while)
- All support for multiple `connections` was drop in Hapi v17.x and has been removed from Hapi-swagger plugin inculding prope

[2017-12-23 10:30] #472 closed

[2017-12-23 10:37] glennjones commented on #472
All done v9.x is released, let me know about any issues. Thanks again to @robmcguinness for pull request, not sure when I would have got around to this without that help.

[2017-12-26 20:57] zhangjinzhou opened #488 "Does OpenAPI provide similar module for express?"
This is not a issue but a question.
I use this module for my hapi.js API. It works perfect.
Now I am developing some API based on express.js. The swagger modules I fount are complex to use. Do you have a similar self-document product for express?

[2017-12-28 22:32] rjpcal commented on #415
I also have the same problem while trying to use `server.inject` for testing. Based on inspecting `server.table()`, I see the `/documentation` route only appears after the server has been started (which never happens during a test run), while the `/swagger.json` route is available immediately after plugins have been registered.

[2017-12-29 23:59] ivanvs opened #489 "Quick start example is not working"
#### hapi-swagger quick start documentation

* *hapi-swgger version*: 9.0.0
* *any other relevant information*: documentation should be updated

#### What are you trying to achieve or the steps to reproduce ?

I have created totally new hapi.js project and I wanted to add hapi-swagger to my project. After using example that is provided in quick start section I had error: `[1] "register" must be a

[2017-12-30 18:21] glennjones commented on #489
Hi thanks for pointing out that oversight in the documentation. I have corrected and update the plugin.

[2017-12-30 18:21] #489 closed

[2017-12-30 18:26] glennjones commented on #488
There was one project https://github.com/continuationlabs/swagger-jacker/ built by someone else. Not sure anything built for Express would work in the same way as it does not have the benefit of the JOI plugin which describes the routes so well. I have no plans to do this.

[2017-12-30 18:26] #488 closed

[2018-01-03 10:30] felixheck opened #491 "Cache Credentials"
#### Context

* *hapi-swgger version*: 9.0.1

#### What are you trying to achieve or the steps to reproduce ?
All of our routes are using an api key for auth. If I access the docs, submit the api key and reload the page, I'd expect that the api key gets cached for x minutes.

#### What result did you get?
I have to enter the api key every time I load the page.

Is there a build-in way to handle th

[2018-01-03 13:46] felixheck commented on #491
Added a custom index.html instead

[2018-01-03 13:46] #491 closed

[2018-01-04 12:40] nhhagen opened #492 "Wrong host in Swagger JSON in v9.0.0"
#### Context

* *hapi-swagger version*: v9.0.0

#### What are you trying to achieve or the steps to reproduce ?

E.g accessing http://my-hostname:8443/documentation allows me to run requests, accessing http://localhost:8443/documentation does not allow me to requests. Using curl I can run my requests.

It turns out the swagger JSON is not generated with the host from the request header like it use

[2018-01-08 08:58] keerthivasan-r opened #493 "Mutliple when Joi validation support issue"
#### Context

* *hapi-swagger version*: "^7.7.1"

* *hapi*:"^16.1.1"

#### What are you trying to achieve or the steps to reproduce ?
I'm having a hapi route i.e POST with json payload with the following
parameter *data* - which is of type *object*. This property is dependent on another property *label*.
When the property *label* has value that equals to either 'create' or 'update', then
the data

[2018-01-09 01:15] ebickle commented on #392
Using "204: Joi.only(null)" has started to produce invalid Swagger contracts; might have a regression somewhere.

[2018-01-11 00:36] duro commented on #492
Can confirm this issue is happening to us as well

[2018-01-11 10:01] sfabriece opened #494 "use external host and port as the host option"
#### Context

* *hapi-swgger version*: 9.0.2
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to test my api from hapi-swagger, but because the application is behind a load balancer, the url `localhost` is wrong. An option where the external host can be used would be helpful. Right now I'm hard coding the host:port but this might chan

[2018-01-16 16:44] frankthelen opened #495 "Swagger UI not working with Basic Authentication // Swagger UI outdated"
Hi!

#### Context

* *hapi version*: 17.2.0
* *hapi-swagger version*: 9.0.2
* *hapi-auth-basic version*: 5.0.0

#### What are you trying to achieve or the steps to reproduce ?

I have my routes secured with HTTP Basic Authentication using `hapi-auth-basic`. This is working fine including securing the additional routes generated by hapi-swagger, e.g., `/swagger.json`,  `/documentation` and static r

[2018-01-17 15:05] frankthelen commented on #495
The `swagger.json` that `hapi-swagger` is creating looks correct in respect to the settings for basic auth. But Swagger UI seams to pick them up wrongly.

I checked the `swagger.json` output with a newer version of Swagger UI (swagger-ui-dist@3.9.1 actually) which worked just fine. "Authorize" button and login popup are there. Good.

`hapi-swagger` is distributing `swagger-ui.js` version 2.1.4 rel

[2018-01-18 15:09] frankthelen commented on #495
My current approach / workaround is this: I am using `hapi-swagger` to serve `/swagger.json` and `hapi-swaggered-ui` to serve the Swagger page. It's using Swagger UI version 3.9.1 which is correctly dealing with the authentication settings. Very nice.

[code]

[2018-01-20 01:59] taywrobel opened #496 "Support for injecting route-level plugins"
#### Context

* *hapi-swgger version*: 7.10.0
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

In order to mediate the multiple XSS issues with swagger UI, I'm trying to add a CSP configuration to the documentation route.  In particular, I'm using [blankie](https://github.com/nlf/blankie) for injecting the appropriate CSP headers.  I'd like the

[2018-01-20 18:42] drakulis opened #497 "Invalid request call when hapi host is set to 0.0.0.0"
#### Context

* *hapi-swgger version*: 9.0.2
* *any other relevant information*: Hapi 17.2.0

#### What are you trying to achieve or the steps to reproduce ?

I want to run hapi server on all my network interfaces (NIC) so I'm using following host: ```0.0.0.0```. While Swagger UI is displayed correctly, request executed through it does not work because it is invoked against host taken from Hapi co

[2018-01-20 18:48] pohybel commented on #497
seem sto seems to be related with #492

[2018-01-22 14:08] shtrihstr opened #498 "Support for additionalProperties"
#### Context

* *hapi-swgger version*: 9.0.2

#### What are you trying to achieve or the steps to reproduce ?
Our API returns normalized data, like:
[code]

Currently, it's impossible to describe responses with KeyValue pairs (`tags` object).

Swagger 2.0 supports `additionalProperties` property for solving this issue.

#### Suggestion
Transform `Joi.object().pattern(regex, schema)` to `additional

[2018-01-29 14:08] aenavcam commented on #485
I can confirm the error, for now the workaround I found is to use something like `Joi.default((ctx) => ctx ? (ctx.page - 1) * ctx.limit : 'some default', 'calculated value based on limit and page')`

[2018-01-30 07:07] feugy commented on #492
Hi!
I confirm I'm having the issue as well. The fix solves it.

As a temporary workaround, setting `cors` on the targeted server fixes it also.

[2018-02-01 13:26] frankthelen commented on #283
Yes, that's correct, I think, and still open.
The label is not used when it's applied to an array of nested objects.
For example...

[code]

It would be fantastic if this could be fixed as well. Thanks. :-)

[2018-02-07 16:55] gino8080 commented on #492
confirm same error

using @nhhagen fix works for now

[2018-02-08 11:00] frankthelen opened #501 "operation-specific security (auth) not set correctly"
Hi!

#### Context

* hapi 17.2.0
* hapi-swagger 9.0.2

#### What are you trying to achieve or the steps to reproduce ?

A common approach is to set auth globally for all routes of the api and to exclude some that should be without.

For example:
[code]

I have specific routes that are excluded from auth, e.g.,:
[code]
#### What result did you get?

The `/swagger.json` generated by `hapi-swagger` d

[2018-02-08 17:58] frankthelen commented on #283
I checked this again, and as far as I can tell, everything is working fine. All labels are correctly picked up.

[2018-02-09 10:16] pawel-miczka opened #502 "No swagger.json after startup"
#### Context

* *hapi-swgger version*: 9.0.2
* *any other relevant information*:
[code]

#### What are you trying to achieve or the steps to reproduce ?

I want to generate documentation for my routes. There is only one simple route. Here's output from Blipp:

  GET    /{nip}                         lorem ipsum
  GET    /documentation
  GET    /swagger.json
  GET    /swaggerui/{path*}
  GET    /sw

[2018-02-09 16:16] frankthelen commented on #501
Well, I had a look at your code, and it seams that you are not evaluating any of the `auth` settings, neither `route.options.auth` nor `server.options.routes.auth`. I'm sure that's for a reason. :-)
Anyway, an alternative way to set route-specific `security` is via plugin-options. In the particular case above, this is what actually does the job:
[code]
So, this solves the issue for me and I am clo

[2018-02-09 16:16] #501 closed

[2018-02-12 03:03] sfabriece commented on #494
I ended up passing in static dns url in the host option. This is not super scalable since I have to know the URL.

[2018-02-12 03:03] #494 closed

[2018-02-12 16:17] Glockenbeat commented on #492
Wouldn't it be much better to simply use a relative path and ignore the host? There are so many scenarios I can think of right now which would make it much more necessary to not deal with the Hapi server configuration but just use the host the documentation is currently viewed with, e.g. a proxied or containerized environment.

[2018-02-16 15:08] Yess11 commented on #286
I would also appreciate to have choice between automatic / manual creating of definition

[2018-02-20 01:17] lalitrhombus commented on #118
@theanimal666 did u find the solution for this?

[2018-02-20 20:06] trillian42 commented on #492
Happening to me as well. I would prefer not to use the ugly hack. I'm using hapi-require-https for http redirect and it seems to do server.ext. I'm afraid the hack would overwrite what hapi-require-https is doing. Or maybe I just don't understand how it works...

[2018-02-21 07:14] skeep commented on #432
works thx , closing it.

[2018-02-21 07:14] #432 closed

[2018-02-21 11:36] besuhoff commented on #338
@glennjones Hi, the very similar issue is still actual for me in 9.1.0 with Joi 1.13.2

This is my schema definition:
[code]

This is my route
[code]

[code]

![image](https://user-images.githubusercontent.com/6132126/36478058-54ffaaf0-16fb-11e8-8024-3e3542650125.png)

[2018-02-21 11:38] besuhoff commented on #328
@glennjones Hi, the very similar issue is still actual for me in 9.1.0 with Joi 1.13.2

This is my schema definition:
[code]

This is my route
[code]

[code]

![image](https://user-images.githubusercontent.com/6132126/36478058-54ffaaf0-16fb-11e8-8024-3e3542650125.png)

[2018-02-21 12:10] besuhoff commented on #493
@glennjones I'd even prefer conditionally required fields defined by `.when` not to get added as required at all, as it causes problems in swagger payload form when I try to input valid data for the case when the field should be optional

[2018-02-24 09:49] JEET0291 commented on #309
If you are working with hapijs then following step could help you.

Step 1. Go to the path

project_directory/node_modules/hapi-swagger/public/lib/index.js

Step 2. Open index.js and here you will find internal default options as below:

var internals = {
    defaults: {
        protocol: null, // If not specified, uses the same protocol as server info
        endpoint: '/docs',
        documentat

[2018-03-21 09:39] Gayanthakaushal commented on #198
Is this resolved in v2.x?

[2018-03-21 22:19] pankajbharambe opened #507 "onChange event validation for enum"
#### Context

* *hapi-swgger version : 9.1.1*:
* *any other relevant information*:
`"dependencies": {
    "blipp": "^3.0.0",
    "convict": "^4.0.2",
    "hapi": "^17.2.2",
    "hapi-auth-basic": "^5.0.0",
    "hapi-swagger": "^9.1.1",
    "inert": "^5.1.0",
    "joi": "^13.1.2",
    "log4js": "^2.5.3",
    "vision": "^5.3.1"
  }`

#### What are you trying to achieve or the steps to reproduce ?

D

[2018-03-22 19:24] brandoncollins7 opened #508 "Can't disable jsonEditor for one endpoint"
#### Context

* *hapi-swgger version*: 9.1.1
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

I have set jsonEditor: true on my main plugin initialization but one of my services requires a raw json dump. it seems I cannot get the large json textbox to appear when jsonEditor is true.
 When I try to disable it for one service via:
[code]
I still g

[2018-03-23 15:57] mcveat opened #509 "Is it possible to describe field that references another definition?"
#### Context

* *hapi-swgger version*: 9.0.2

#### What are you trying to achieve or the steps to reproduce ?

I have following JOI definition:

[code]
I am reusing histogram definition couple of times. I'd like to describe `accidents` and `injuries` fields.

Resulting swagger definition has two histogram models now, one with and one without description.

[code]

I understand why it is happening s

[2018-03-26 15:53] 5an1ty opened #510 "Typings"
Currently using hapi in a typescript project and it would be nice to have typings for hapi-swagger

[2018-03-26 19:56] brandoncollins7 commented on #508
Anyone know if this is possible?

[2018-03-28 08:57] 5an1ty commented on #365
I'm also looking for something like this, any update?

[2018-04-06 14:19] Removed-5an opened #511 "OpenAPI 3.0 Spec"
Any plans on supporting the new OpenAPI spec?

[2018-04-10 11:38] glennjones commented on #511
Hi I am very busy with a work project and will be until mid summer at which point I hope to pick up the project again. Until then its unlikely I will do anything but urgent security updates. Sorry but this pass year has been 6 day weeks and my open source work has to take the back seat.

[2018-04-10 22:38] brandoncollins7 commented on #492
Any solution for this?

[2018-04-11 08:45] kostasxerv opened #512 "Xml support"

[2018-04-11 21:45] JordanTribley commented on #440
I am also experiencing the same problem, though I am using the current latest version 9.1.0 with Hapi 17.2.0.

When providing a non-Joi validation like
[code]
I do not experience a problem.

But when I provide this as a Joi validation like
[code]
I experience the original reported problem.

Since this is the only way I know to require a certain header and allow unknown headers while the `allowUnkn

[2018-04-17 19:06] #512 closed

[2018-04-26 01:33] fishmongr commented on #398
I just ran into this too. Why does description not work for Arrays and Objects?
Label works but it changes the name of literally the object's type which is not what is expected. It also is ignored and replaced with "Model 1" during documentation display if .example() is set to an empty array.
Why is this stuff so inconsistent?

[2018-04-27 15:30] shanpeng238 opened #513 "hapi-auth-jwt2 Cannot control hapi-swgger"
#### Context

* *hapi-swgger version*: "^9.1.1",
* *any other relevant information*:"hapi": "^17.3.1","inert": "^5.1.0", "vision": "^5.3.2", "jsonwebtoken": "^8.2.1","hapi-auth-jwt2": "^8.1.0",

#### What are you trying to achieve or the steps to reproduce ?
I want hapi-auth-jwt2 to control hapi-swgger
Describe your issue here, include example `route` or JOI schemas.
const Pack = require('../packa

[2018-05-02 14:07] ultraon commented on #323
Hello @glennjones , I found out that while generating Swagger schema for `.date()` & `date.iso()` the same `format: date` in schema generated. But it is critical to differentiate full-date & date-time (which extends full-date). Could you please help how can I provide `format: date-time` date format for Swagger schema?

[2018-05-03 22:07] fishmongr commented on #360
I just ran into this one too. The validation works perfectly even with my huge nested value schema but the key and it's values no longer shows up in Swagger documentation example or model for the route.

[2018-05-04 10:17] pawel-miczka commented on #502
I got it: swagger.json was in my project. I just forget to add

[code]

to routes. Thanks anyway :)

[2018-05-04 10:17] #502 closed

[2018-05-11 13:56] peterjanbrone opened #515 "Missing download link"
on swagger UI version 2.2.10 I do not see a download link when
working with application/pdf files.

Defined as such:
[code]

Response headers look fine though (I read content-length is necessary for a download button to be availalble):
[code]

If I curl -o the request to a pdf file manually I see the correct, non-corrupted file.
However the swagger response body section reads:
[object Blob]

[2018-05-12 17:03] comountainclimber opened #516 "Invalid swagger generation for collection"
#### Context

* *hapi-swgger version*: 9.1.1
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
Im trying to create an array of objects schema.

Describe your issue here, include example `route` or JOI schemas.
ROUTE:
[code]

#### What result did you get?
Invalid swagger definition for the response

(invalid)
[code]
#### What did you expect ?
(vali

[2018-05-12 21:08] tonisostrat commented on #516
You're `label`ing the array itself as "foo", not the elements.

[code]

[2018-05-13 01:05] comountainclimber commented on #516
@tonisostrat thats intentional I am trying to produce a collection schema... The list is composed of the elements

[2018-05-13 11:40] #436 closed

[2018-05-14 12:46] peterjanbrone commented on #515
Fixed by changing content-type to application/octet-stream, you'll notice it will only accept your content disposition header if you explicitly set it through Access-Control-Expose-Headers. Otherwise the filename is auto generated.

[2018-05-14 12:46] #515 closed

[2018-05-15 21:58] comountainclimber opened #517 "Type:array throws an error when plugging in generated swagger into official https://editor.swagger.io/"
#### Context
ERROR: `Schemas with 'type: array', require a sibling 'items: ' field`
* *hapi-swgger version*:9.1.1
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
Produce a schema definition for an endpoint that responds with an array.

Describe your issue here, include example `route` or JOI schemas.
[code]

#### What result did you get?
[code]

[2018-05-18 03:43] adonisv79 commented on #492
@nhhagen thanks. it works! hope this was built in such that if hapi's host = 0.0.0.0, hapi-swagger uses the host's current IP directly...

[2018-05-20 09:01] bonbonio opened #518 "What does sortEndpointssort by, by default?"
I am using the latest 9.x HS branch, and the 17.x Hapi branch, and I now set  ` sortEndpoints: 'path',` but I would have expected this to be the default behaviour.

The default sort order doesn't change, but I cannot see the logic of how it chooses what to order by default.

How does Hapi-Swagger determine the order when using 'default'? I do think that sorting by path should be the new default th

[2018-05-23 08:54] danielo515 commented on #492
I'm also facing this problem with hapi 17.5.0 and hapi-swagger 9.1.1
If I navigate to `localhost/documentation` requests are made to my hostname instead of to localhost (my hostname is something like myname.local ). I have to navigate to 0.0.0 to be able to perform the tests correctly. This is very annoying for a piece of software so useful and that works so well.
Hope it gets fixed soon.

[2018-05-25 23:40] zhangjinzhou opened #519 "Swagger page returning 500"
#### Context

* *hapi-swgger version*: 9.1.1
* *hapi version*: hapi 17.5.0
* *language*: typescript

#### What are you trying to achieve or the steps to reproduce ?

Get 500 response when visiting <appurl>/documentation

#### My server code:
[code]

#### My route code:
[code]

[2018-05-25 23:45] zhangjinzhou commented on #519
Sorry, It came from cros header plugin.

[2018-05-25 23:45] #519 closed

[2018-06-01 06:02] cpomerantz commented on #492
The address should definitely not come from the server, it should either be relative or from the browser. In the case of the server residing behind a load balancer (I am experiencing this issue), if the IP Address of the server is used then the client will never be able to reach the server if the servers behind the firewall are not directly exposed to the browser.

[2018-06-05 16:41] bmgdev commented on #513
I just saw this in source  console.log('The plugin "hapi-auth-jwt2" does not yet support HAPI v17.x. This example will be updated at a later date.');

[2018-06-18 16:48] gvlax commented on #495
@frankthelen I struggled with the same (?) issue for many hours until I specified "accidentally" the `host` property in the options of the hapi server, i.e.: `new Hapi.Server({ host: ..., `

After that change whenever I load the `.../documentation` page, a basic login modal appears.
After a successful authorization it is not shown anymore.
Before that the page was just loaded and 'Try it out! ' bu

[2018-06-24 15:20] marcuspoehls opened #524 "hapi-swagger ignores response payloads for versioned APIs"
#### Context

* *hapi-swagger version*: `9.1.1`

#### What are you trying to achieve or the steps to reproduce?
I’m trying to use `hapi-swagger` to generate an API documentation for different API versions.

Using the [versions](https://github.com/glennjones/hapi-swagger/blob/master/examples/versions.js) example produces the same response payloads for different schemas.

I use the same routes as in

[2018-06-28 14:06] mattboutet commented on #497
I've found that the above change doesn't _quite_ fix this issue for me, since I normally run my apps behind an nginx reverse proxy.  In my case, I want to be able to hit www.example.com/api but as far as hapi is concerned, it's running at 0.0.0.0:5000/api -- `request.info.hostname` gets you `www.example.com` but the `getHost` function then appends a port, which is not desirable in this case.  [ e6

[2018-07-09 09:10] Calinou opened #526 "Internal Server Error (500) when accessing /swagger.json"
#### Context

* *hapi-swagger version*: 9.1.1
* *any other relevant information*: hapi 17.5.2, glue 5.0.0

#### What are you trying to achieve or the steps to reproduce ?

##### `manifest.js`

[code]

##### `index.js`

[code]

##### `plugins/notifications/index.js`

[code]

#### What result did you get?

I get this when accessing `/swagger.json`:

[code]

#### What did you expect ?

A JSON file th

[2018-07-16 20:03] josefsalyer commented on #526
I also have this issue.  It seems like a common factor is glue?

[2018-07-19 22:35] sean-hill opened #528 "AWS API Gateway Support"
#### Context

* *hapi-swagger version*: 7.7.0

#### What are you trying to achieve or the steps to reproduce ?

When deploying to AWS API Gateway my swagger documentation endpoint is returning a 404 not found. When testing locally it works as expected.

However the `/swagger.json` endpoint works as expected in API Gateway.

[2018-07-19 23:14] sean-hill commented on #528
![image](https://user-images.githubusercontent.com/1205866/42975024-d76f271c-8b6e-11e8-9515-57a259db3045.png)

This is currently what I see 😆

[2018-07-20 12:06] 5an1ty commented on #511
@glennjones Thanks for replying and I appreciate the work you put into hapi-swagger, I'm still using it today! I hope you'll get some free time again soon to pick this up again.

[2018-07-23 21:23] scottmas opened #529 "Req: Ability to test swagger ui documentation with server.inject without starting serve"
This is a follow up from this issue: https://github.com/glennjones/hapi-swagger/issues/415

As described by rjpcal, the `/documentation` route only appears after the server has started.

[2018-07-24 15:57] Y-LyN-10 commented on #338
Hello! The fix proposed by @hostiphur works, but looks-like that it was [commented out](https://github.com/glennjones/hapi-swagger/blame/2edaebb6793ac52527cea42e5e57c00693f60168/lib/properties.js#L517) at some point, so this issue is reproducible now.

hapi: v17.4.0
hapi-swagger: v9.1.1
joi: v13.1.2

[2018-07-31 08:33] danielo515 opened #530 "trying to load resources from root path instead of swaggerui"
#### Context

* *hapi-swagger version*: 7.9.1 (also tested 7.7.1)
* *any other relevant information*: hapi 16, and using GLUE for plugin registration

#### What are you trying to achieve or the steps to reproduce ?
Hello, I'm using swagger with hapi 16, and I'm getting a weird error that does not happens on the rest of my REST apis which also uses swagger and hapi.
The documentation page is asking

[2018-07-31 21:04] zsiglin commented on #338
@glennjones Can we get this reimplemented? Any reason this was commented out?

[2018-08-06 14:08] jrpedrianes commented on #492
Any update on this issue?

[2018-08-13 10:00] kumar-prashant-new opened #531 "Content-Type validation only allow "application/json" and for rest 415 error."
#### Context
I want to allow only "application/json" as content-type in my apis.
I am trying to achieve this by using Joi validation.

* *hapi-swgger version*: 7.7.0
* *any other relevant information*: hapi: '16.6.2', npm: '6.3.0', node: '8.11.2', "joi": "^11.0.0"

#### What are you trying to achieve or the steps to reproduce ?
I want my all apis to allow "application/json" only; and for others it

[2018-08-20 11:45] kumar-prashant-new commented on #531
Any update regarding this issue?

[2018-08-30 11:39] farzadso commented on #238
@glennjones Is there any way to solve this issue?

[2018-08-30 11:56] SchmidBohdan commented on #238
@farzadso  I have the same issue

[2018-08-30 12:10] farzadso commented on #238
@SchmidBohdan for the time being and this particular case, I imported my `swagger.json` file in Postman and called the api from Postman

[2018-09-07 08:41] kumar-prashant-new commented on #531
Any Update in this?

[2018-09-07 09:55] atmjs opened #532 "how to test array data api"
#### Context

* *hapi-swgger version*: 9.1.1
* *any other relevant information*:
1.
![image](https://user-images.githubusercontent.com/12792057/45212146-b84b2000-b2c6-11e8-83c0-80793bd23f08.png)
2.
![image](https://user-images.githubusercontent.com/12792057/45212567-cd747e80-b2c7-11e8-8812-5460054f711d.png)
3.
![image](https://user-images.githubusercontent.com/12792057/45212291-1f68d480-b2c7-11e8-

[2018-09-08 01:27] #532 closed

[2018-09-12 13:15] Y-LyN-10 commented on #469
There are plenty of PRs for this issue. Let's fix it, please?

[2018-09-18 16:41] Tapppi commented on #484
@robmcguinness you might try `https://github.com/moll/json-stringify-safe`, which is the defacto standard module for this type of thing. Its built on top of `JSON.stringify` so is probably faster.

[2018-09-18 18:36] robmcguinness commented on #484
@Tapppi thanks!

[2018-09-19 02:58] #484 closed

[2018-09-19 03:15] #418 closed

[2018-09-19 12:28] #517 closed

[2018-09-23 14:34] robmcguinness commented on #469
@Y-LyN-10 which PR are you referring to? I'd like to take a look.

[2018-09-23 17:46] incubus8 commented on #469
@robmcguinness it's aligned with what other PR's https://github.com/glennjones/hapi-swagger/issues/338 the PR would have been in here https://github.com/glennjones/hapi-swagger/pull/428/files#diff-327455fa29663c58312adf5955056773R496

However, it was commented out when got merged in https://github.com/glennjones/hapi-swagger/blame/2edaebb6793ac52527cea42e5e57c00693f60168/lib/properties.js#L517
now

[2018-09-24 12:34] #338 closed

[2018-09-24 12:34] #469 closed

[2018-10-03 14:19] vasergen commented on #479
hi @J0NNYZER0 , have you did this? I am currently trying to do the same

[2018-10-04 09:34] montumodi opened #534 "The following leaks were detected:core, __core-js_shared__ | Hapi Swagger 8 | Node 8.12.0 | Hapi 16"
#### Context

* *hapi-swagger version*: ^8.0.0
* *Node Version*: 8.12.0
* *Lab Version*: ^16.0.0
* *any other relevant information*: Hapi version ^16.0.0

I am using hapi swagger to generate our api documentation. From pasr couple of weeks we have started seeing `The following leaks were detected:core, __core-js_shared__` error while running our tests. If I comment out the hapi-swagger require sta

[2018-10-04 13:06] robmcguinness commented on #534
Can you setup a small example to recreate?

[2018-10-04 13:09] montumodi commented on #534
I can do that but in the meantime if you run `npm test` on `hapi-swagger` V8.0.0 or v7.x tag/branch it gives this error at the bottom.

[2018-10-04 13:17] robmcguinness commented on #534
ok thanks. i think we should be good if it can be reproduced in `v8.x` branch. I'll take a look as soon as I can.

[2018-10-04 21:46] J0NNYZER0 commented on #479
@vasergen - I did manage to do this but to be honest since then I have created many more API's and App and it might take me some time before I can go back into the code and retrace. If you have not completed it by the time we touch base again and if I can find the time to retrace the code I will help you out. I am pretty sure it swagger offers a config setting where you can setup custom templates

[2018-10-04 21:53] vasergen commented on #479
@J0NNYZER0 thank you  for suggestions, I will take a look on those custom templates and hapi-auth-cookie, at least now I knew where to look :slightly_smiling_face:

[2018-10-04 22:18] PhilippSh commented on #332
Anyone found a workaround?

[2018-10-05 01:44] robmcguinness commented on #332
Adding a note that https://github.com/jdorn/json-editor/ is no longer maintained (which this project uses). Development has moved to https://github.com/json-editor/json-editor.

[2018-10-06 12:50] karanmartian opened #535 "Current Route not maintained when clicking on the left POST button or API link"
Hi,

I am running hapi-swagger v7.9.1 and I am using it in a custom page which is not under the default '/' route. Its under '/docs'
However, when I click on the left green POST button or the link next to it in order to expand the API box, see attached screenshot, its taking me back one level to:

http://localhost:5000/#!/api%2Fflight/postApiFlightV1Plan instead of being on the same /docs route

I

[2018-10-13 12:34] robmcguinness commented on #534
@montumodi,

Seems related to https://github.com/babel/babel-loader/issues/152 but it doesn't appear to be something `hapi-swagger` can fix. Seems like other simply ignore `core` libs when running `lab`: https://github.com/jedireza/hapi-react-views/blob/d0529ad389c7c51d2c8b5d2d62870a02b8dae9ac/package.json#L7.

[2018-10-13 12:34] #534 closed

[2018-10-13 12:35] robmcguinness commented on #492
Closed with the release of [v9.1.2](https://github.com/glennjones/hapi-swagger/releases/tag/v9.1.2)

[2018-10-13 12:35] #492 closed

[2018-10-13 13:00] montumodi commented on #534
That is what i am doing at the moment. Thanks for your time.

[2018-10-17 07:33] haripranesh commented on #253
thanks @glennjones . It Worked

[2018-10-17 14:48] robmcguinness commented on #487
@ouzhou anything specific?

[2018-10-19 17:01] #487 closed

[2018-10-19 17:02] robmcguinness commented on #487
@ouzhou please open another issue to track any doc changes needed. thanks!

[2018-10-19 17:05] robmcguinness commented on #497
I believe this was closed with the merge and release of https://github.com/glennjones/hapi-swagger/pull/499

[2018-10-19 17:10] robmcguinness commented on #477
Please reopen if the docs or examples are not consistent. If I'm wrong please reopen and link which examples are incorrect.

[2018-10-19 17:10] #477 closed

[2018-10-19 17:18] robmcguinness commented on #474
You should be able to use the `auth` option to set the strategy used to guard the swagger documentation. Can you try https://github.com/glennjones/hapi-swagger/blob/master/optionsreference.md#plugin-options and see if it works?

[2018-10-19 21:37] DylanShea commented on #497
Similar to @mattboutet, I run my hapi api behind a nginx reverse proxy. Before the 'upgrade hapi v17' changes were applied, the swagger.json would use the request.info.hostname value by default. This is the behavior that you expect from swagger per the [swagger documentation](https://swagger.io/docs/specification/2-0/api-host-and-base-path/#host).

The #492 #499 code only fixed the hostname portio

[2018-10-19 22:44] robmcguinness commented on #497
@DylanShea thanks for feedback. i've reopened the issue to track the work needed.

[2018-10-26 14:13] jainank commented on #469
@robmcguinness
Thanks for the new release, however now the Swagger-ui doesn't show the field in the Model.

Here is the Joi schema:
const Joi = require('joi');
const payloadValidation = Joi.object({
 a: Joi.string()
    .when('b', {
       is: Joi.exist(),
       then: Joi.forbidden()      // specifying Joi.forbidden() is resulting error here :(
    }),
 b: Joi.string()
});

**Output from swagger

[2018-10-26 14:28] jainank opened #536 "Swagger UI Issue using Joi.forbidden in conditional '.when'"
#### Context
**Versions:**
"hapi": "17.6.0",
"hapi-swagger": "9.1.2",

#### What are you trying to achieve or the steps to reproduce?

Swagger UI is not showing the key if '_when_' condition has _then_ block with Joi.forbidden()

[code]

#### What result did you get?
Model - {b (string, optional)}

#### What did you expect?
Model - {a (string, optional), b (string, optional)}

[2018-11-04 20:11] ErickWendel opened #538 "Swagger is using internal backend port to hit on APIs"
#### Context

* *hapi-swagger version*:  "^9.1.2"
* *any other relevant information*:
 "hapi": "^17.6.4"
#### What are you trying to achieve or the steps to reproduce?
I create normally my routes and my application on `localhost:4000` is working fine. But when I publish to Heroku and click at Send Button on Swagger page. The request is going to `myurl:HEROKU_PORT`. But this `HEROKU_PORT` are defin

[2018-11-05 16:56] sfabriece opened #539 "error when jsonEditor is enabled"
#### Context

* *hapi-swagger version*: 9.1.2
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce?
enabling the `jsonEditor` plugin option

#### What result did you get?

[code]

#### What did you expect?
all my routes to be shown

[2018-11-07 15:31] robmcguinness commented on #535
@karanmartian what server side html are you referring to?

[2018-11-07 15:40] robmcguinness commented on #528
any clues as to why? seems like the browser can't interpret the response? what do the response headers look like?

[2018-11-07 16:10] mattboutet commented on #497
#537 Fixes this issue for my use case - I'd love to see that get merged so I can scrap my fork of hapi-swagger.

[2018-11-07 17:34] robmcguinness commented on #497
@mattboutet i'll release today or tomorrow. let me try and squeeze in a unit test for this feature.

[2018-11-08 03:12] matthewcummings commented on #528
@sean-hill I am seeing the same behavior but with this plugin https://github.com/z0mt3c/hapi-swaggered.

I've been working on this for a while, I still don't understand why this is happening.

[2018-11-13 16:43] montumodi opened #540 "Support for Joi 14 | Example"
#### Context

* *hapi-swagger version*:  9.1.2
* *hapi*: 17
* *Joi*: 14

#### What are you trying to achieve or the steps to reproduce?

We have recently upgraded our hapi from version 16 to 17, Joi from 12 to 14 and hapi swagger from 7 to 9. Since than our examples on the documentation page are coming incorrect.

Previous

[code]

Now

[code]

Json schema looks like this

[code]

because of this

[2018-11-13 16:54] robmcguinness commented on #540
looks like **Joi** `v14` was released 22 days ago. Current version supported is `v13`. Pinning the release notes: https://github.com/hapijs/joi/issues/1615

[2018-11-13 18:19] #497 closed

[2018-11-14 16:59] ethiry opened #541 "/swaggerui and directoy listing"
#### Context

* *hapi-swagger version*: 9.1.3
* *hapi*: 17.5.3

#### What are you trying to achieve or the steps to reproduce?

The directory listing for route /swaggerui (options.swaggerUIPath) is activated

#### What result did you get?

![swaggerui-directory-listing](https://user-images.githubusercontent.com/8937367/48498337-58c53f80-e836-11e8-8132-e07f09a6f10f.PNG)

#### What did you expect?

[2018-11-14 18:11] robmcguinness commented on #541
i do not. mind submitting a PR?

[2018-11-14 19:50] ethiry commented on #541
PR submitted

Le mer. 14 nov. 2018 à 19:11, robert mcguinness <notifications@github.com>
a écrit :

[2018-11-15 14:47] nickeljew commented on #540
Please fixed code in lib/properties.js line 221 as following:
[code]

[2018-11-21 06:04] rokoroku opened #543 "Feature request: dynamic documentationRouteTags function"
#### Context
* *hapi-swagger version*: 9.1.3

#### Description
Currently `hapi-swagger` only allow to override `documentationRouteTags` with static string or array as described here: https://github.com/glennjones/hapi-swagger/blob/master/optionsreference.md#plugin-options

However, If we have a more dynamic option to document for specific target routes, we can easily exchange dev-only documentatio

[2018-11-21 06:09] rokoroku commented on #543
Oh I found `documentationRouteTags` just now... I'll change the content with `documentationRouteFilter`

[2018-11-21 06:16] rokoroku commented on #543
Sorry for make issue dirty, I reopened with new suggestion 😅

[2018-11-21 13:59] robmcguinness commented on #543
I believe this can be accomplished today without the need to extend the framework options. Maybe I'm not understanding the ask. Would you mind showing a richer example?

[2018-11-21 14:00] robmcguinness commented on #541
closed in https://github.com/glennjones/hapi-swagger/pull/542

[2018-11-21 14:00] #541 closed

[2018-11-21 14:05] robmcguinness commented on #538
does this issue still persist with latest release?

[2018-11-21 21:31] robmcguinness commented on #539
https://github.com/glennjones/hapi-swagger/issues/332

[2018-11-22 07:34] yonifrank opened #544 "Forwarding zip file to browser"
#### Context

* *hapi-swagger version*: 7.7.0

#### What are you trying to achieve or the steps to reproduce?

Describe your issue here, include example `route` or JOI schemas.
Hi,
I'm new to javascript and hapi.
I'm trying to download a zip file. I just need to forward the received file to the client.
Actually, the file I'm getting from the link in the browser is corrupted.

In the config/plugins

[2018-11-22 14:33] robmcguinness commented on #544
I don't understand the issue as it pertains to `hapi-swagger`. Can you restate the question?

[2018-11-23 06:39] yonifrank commented on #544
I have to servers. Server a is my GW and server b is the business logic server. Now, I have an API that returns a zip file. Server a receives the request and forward it to server b. Server b creates the file, sends it back to server a that forwards the response to the client. The file is received well from server b, but getting corrupted in the client. I don't know what is the definition that I am

[2018-11-23 13:40] robmcguinness commented on #544
is it the `hapi-swagger` client?

[2018-11-23 17:21] palashg7563 opened #545 "query about default swagger url"
#### Context
can i change the default route for the swagger documentation

[2018-11-23 17:29] robmcguinness commented on #545
Try `swaggerUIPath`: https://github.com/glennjones/hapi-swagger/blob/master/optionsreference.md. Please reopen if that doesn't work for you.

[2018-11-23 17:29] #545 closed

[2018-11-25 02:40] MyracleDesign commented on #510
Anyway, I think it would be great just to install them. I will check if I can create them if this is ok for everyone.

[2018-11-25 14:42] yonifrank commented on #544
No

[2018-11-25 20:08] robmcguinness commented on #544
Apologies but I don't think this is an issue with `hapi-swagger`.

[2018-11-25 20:08] #544 closed

[2018-11-26 07:15] yonifrank commented on #544
OK I'll try to check it. Thank you very much.

[2018-11-27 09:54] rmeissn opened #547 "Feature Request: Dropdown for Accept Header"
#### Context

* *hapi-swagger version*: v9.x (latest)
* *any other relevant information*: Hapi v17.x (latest)

#### What are you trying to achieve or the steps to reproduce?

I want to support proper content-negotiation for implemented routes. Thus I'm expecting a client to send me a mime-type as of the accept header. hapi-swagger + Joi allows to validate this header and to specify mime-types a ro

[2018-12-01 21:48] phmatray opened #549 "How to deal with http2 ?"
#### Context

* *hapi-swagger version*: 9.1.3
* *any other relevant information*: node 10.9.0

#### What are you trying to achieve or the steps to reproduce?

I currently use hapi-swagger and hapi-swagered-ui with http. I want to migrate to http2.

No problem to reach my routes when I use http2 but impossible to run hapi-swagger.

[code]

#### What result did you get?
Failed to load resource: the

[2018-12-01 22:01] phmatray commented on #549
I used openssl in a bash console to easily create the certificate.

[code]

[2018-12-02 00:57] robmcguinness commented on #549
thanks. I'll take a peek. if you have any ideas why it might not be working let please reply here.

[2018-12-12 17:20] adematte opened #550 "Allow vendor extension at the route level (x-*)"
#### Context

* *hapi-swagger version*: 9.2.0

#### What are you trying to achieve or the steps to reproduce?

It is now possible to provide arbitrary vendor extensions with `x-*` outside of the info property but it still does not work on a route level. It seems like this could be easily fixed and that would allow to generate code samples with swagger.

[code]

#### What result did you get?

nothi

[2018-12-12 17:57] robmcguinness commented on #550
@adematte,

are the `x-*` conventions documented anywhere for swagger? A quick google search revealed other projects using `x-code-samples`. I'm curious to see what other conventions are supported.

[2018-12-13 09:17] adematte commented on #550
@robmcguinness I m not sure there's a list of "conventions" since per [openApi vendor extensions specs](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#vendorExtensions) , the "x-*" properties are made to provide arbitrary extensions.

The "x-code-samples" is a property used by Redoc. They provide a list of [their supported vendor ](https://github.com/Rebilly/ReDoc/blob/ma

[2018-12-13 09:20] adematte commented on #550
So, is allowing arbitrary "x-*" at the route level something that you are ok with ? I personally see no reason why it shouldn't be so. It looks like a quick fix, so I can provide a PR if this is not something core maintainers plan on addressing quickly.

[2018-12-14 01:44] robmcguinness commented on #550
@adematte i agree. Please submit PR. Please update unit test in doing so.

[2018-12-18 05:34] punkish opened #552 "modeling conditional parameters"
#### Context

* *hapi-swagger version*: 9.2
* *any other relevant information*: hapi v 17

#### What are you trying to achieve or the steps to reproduce?

I have a resource that can be retrieved either by providing an `id` or by providing several other parameters, some of which would be required while others would be optional. So, either

    /resource?id=<int>

or

    /resource?a=<reqd int>&b=<r

[2018-12-22 02:04] #550 closed

[2019-01-03 13:28] opravil-jan opened #555 "Using unsupported version of hoek"
Hello,

current version of package uses version 5.x.x of package hoek which is not supported. Can you update to new version 6, please?

Thank you

Jan Opravil

[2019-01-03 14:23] rmeissn commented on #547
I was able to track down the bug (by reading #237 ). Whenever a response code is added as a string that is not convertible to a number (e.g. by including a space), the dropdown for response content-type is missing, even though swagger-ui displays the response correctly.

Working example:
[code]

Non working example:
[code]
See this screenshot on how the non working example is displayed
![bildschir

[2019-01-03 14:36] rmeissn commented on #547
+ if there is no 200 response code listed in the responses object, the dropdown is also not displayed.

[2019-01-04 06:37] #555 closed

[2019-01-04 07:23] jahanzaibajmal opened #556 "Joi two dependent paramaters not working"
#### Context

* *9.2.0*:
* *17.8.1*:

#### What are you trying to achieve or the steps to reproduce?
There are two drop downs in my form, one's values depend other the other one. So when I change the value from parent one the child ones value not updating. They remains the same as default drop down

Describe your issue here, include example `route` or JOI schemas.

`notification_type: Joi.string()

[2019-01-09 01:22] ryuuji3 commented on #556
Can you try formatting the code so it's a bit more readable?
Also turn on syntax highlighting by adding "js" after the first 3 backticks.

[code]

vs

[code]

[2019-01-11 05:34] no-more commented on #299
Hello,

Any news about implementing this feature, it would be very useful in many cases.

Thanks.

[2019-01-21 03:32] WesTyler opened #557 "PR In Progress - hapi@18"
I am working on making a PR to update to hapi version 18 (released this past Friday).

One of the [major changes in hapi 18](https://github.com/hapijs/hapi/issues/3871) is the use of the WHATWG url parsing in Node. Specifically what used to be `Url.parse('url')` is now deprecated and has been replaced by `new Url.URL('url')`, which is more strict about url format validation. Because of that, the i

[2019-01-29 14:32] laurilarjo commented on #540
^ The above worked for me also.

[2019-01-29 15:44] robmcguinness commented on #540
Created a branch: https://github.com/glennjones/hapi-swagger/tree/feature/upgrade-joi with above fix but there are 3 failing tests.

https://travis-ci.org/glennjones/hapi-swagger/jobs/485966120

I don't have time to look at this further but maybe others can help out.

[2019-01-29 16:25] icetbr opened #558 "Dynamic built routes doesn't work."
The routes work fine, its just the swagger implementation that throws an exception (I'm yet to turn on debug to find out the stack trace)

[code]
Thanks

[2019-01-29 19:31] robmcguinness commented on #558
going to need more info. if you can setup a working example it would be great.

[2019-01-30 06:40] laurilarjo commented on #540
Thanks. Just noticed that someone had tried this as a pull request earlier with a faulty title: https://github.com/glennjones/hapi-swagger/pull/546

[2019-01-30 10:53] icetbr commented on #558
Fixed. Completely unrelated problem. Sorry for the trouble. This was my problem.

https://github.com/glennjones/hapi-swagger/issues/485

[2019-01-31 12:20] #558 closed

[2019-01-31 12:21] robmcguinness commented on #540
@laurilarjo ah good catch. I never got feedback for the changes requested in #546.

[2019-02-02 10:34] morgangraphics commented on #549
I was able to spin up Hapi with http2 protocol and use Hapi Swagger without issue.

One thing I see missing in the above config is the schemes for swaggerOptions

[code]

I've included my server.js file as an example of a working setup

[code]

[2019-02-02 14:06] robmcguinness commented on #549
@morgangraphics thanks for analysis. I've tagged the issue for documentation. Probably a good opportunity to add an example or some docs in the README.

[2019-02-03 05:56] morgangraphics commented on #549
The issue above could also be related to `...? { listener: await getHttp2Listener(), tls: true, port }` `http2.createSecureServer` is `TLS/https` by default so it seems redundant (maybe a collision) to enable HAPI `tls: true` and have the listener on https as well. In any rate I believe it's a configuration issue and not anything wrong with hapi-swagger.

[2019-02-04 13:49] punkish opened #559 "schemes option not working as expected"
#### Context

* *hapi-swagger version*: 9.1.2
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce?

My dev server is `http` and the production server is `https` so I've set the hopi-swagger option `schemes: ['http', 'https']` but the UI continues to send queries to `http` on the production server. This issue is document at https://github.com/glennjone

[2019-02-04 15:42] dieseldjango opened #560 "Example response wrapped in another object with a "value" property"
#### Context

hapi-swagger version: 9.3.0
any other relevant information: Joi version: 14.3.1, Hapi version: 18.0.0

#### What are you trying to achieve or the steps to reproduce?

I'm trying to provide a sample response object with a route definition:

[code]

#### What result did you get?

The example was wrapped in another object:
[code]

#### What did you expect?

I expected it to be:

[code]

[2019-02-06 17:01] cybercode opened #561 "scheme validation fails when running behind double proxies"
#### Context

* hapi-swagger@9.3.0

Running with a proxy behind a load balancer (e.g., load balancer -> proxy -> hapi)

#### What are you trying to achieve or the steps to reproduce?

If `hapi-swagger` is installed in the above environment, the attempt hit the swagger endpoint returns returns an error due to `scheme` validation failing as the `x-forward` headers contain a comma separated string of

[2019-02-06 18:21] robmcguinness commented on #561
@cybercode seems reasonable. my understanding is that the last `proto` entry should be used. So instead of:

[code]

it should be:

[code]

Will that work in your case?

[2019-02-07 00:06] cybercode commented on #561
@robmcguinness, that would give the protocol of the last proxy in the chain. I think you really want the first (in my case, the load balancer), which would be the originating protocol. So, if you want a functio and not and index,
[code]
would do it destructively. The advantage of `[0]` is  that it doesn't modify the header…

[2019-02-07 01:42] robmcguinness commented on #561
@cybercode i agree with you. Mind submitting a PR with corresponding test case?

[2019-02-07 14:09] cybercode commented on #561
On Thu, Feb 07, 2019 at 01:42:31AM +0000, robert mcguinness wrote:

Will try and get to it this weekend.

[2019-02-10 18:24] robmcguinness commented on #561
Closed in https://github.com/glennjones/hapi-swagger/pull/562

[2019-02-10 18:24] #561 closed

[2019-02-13 14:39] mikolajprzybysz opened #563 "Error with displaying routes where payload is an array"
#### Context

* *hapi-swagger 9.1.2+*:
* PR causing issue https://github.com/glennjones/hapi-swagger/pull/533

#### What are you trying to achieve or the steps to reproduce?
The following route configuration does not work with versions 9.1.2+, latest version it does work with, meaning is properly displayed in the swagger-ui  is version 9.1.1.
To reproduce simply add this route run in first with ha

[2019-02-19 14:34] rossanthony opened #564 "High severity vulnerability found in dependency of hapi-swagger"
#### Context

* *hapi-swagger version*: 9.3.1

#### What are you trying to achieve or the steps to reproduce?
Run vulnerability detection tool such as [snyk](https://snyk.io)

Output:
<img width="805" alt="screen shot 2019-02-19 at 9 24 17 am" src="https://user-images.githubusercontent.com/2789355/53022143-95ea3080-3428-11e9-92aa-cf2a9bbf58d6.png">

#### What result did you get?
Because of hapi-sw

[2019-02-19 15:15] rossanthony commented on #564
Tried updating my fork of hapi-sagger to use handlebars 4.1.0 and everything is still working as expected, the UI loads and can make requests etc. Have raised a PR #565.

[2019-02-19 20:53] robmcguinness commented on #564
@rossanthony I think we are missing updates to:

- https://github.com/glennjones/hapi-swagger/blob/2edaebb6793ac52527cea42e5e57c00693f60168/public/swaggerui/lib/handlebars-2.0.0.js
- https://github.com/glennjones/hapi-swagger/blob/2edaebb6793ac52527cea42e5e57c00693f60168/examples/assets/custom.html#L15
- https://github.com/glennjones/hapi-swagger/blob/2edaebb6793ac52527cea42e5e57c00693f60168/publi

[2019-02-19 21:01] dieseldjango commented on #560
Looks like a dupe of #540

[2019-02-19 21:01] #560 closed

[2019-02-20 09:14] pawel-miczka opened #566 "Change "Swagger" title and URL in header section"
#### Context

* *hapi-swagger version*: 9.1.1
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce?

How can I change "Swagger" title and URL in header section? I mean this one next to Swagger logo. Also is there some way to change header background color from green to other?

#### What result did you get?

#### What did you expect?

[2019-02-20 11:36] rossanthony commented on #564
@robmcguinness thanks for pointing that out, I didn’t realize the UI is using hard-coded js files pulled in from the lib folder.

That’s quite a jump from v2.0.0 to 4.1.0, but I’ll give it a try and see how it goes.

Like you say, ideally it should be using the dependencies defined in the package.json for the UI.

[2019-02-20 12:30] robmcguinness commented on #559
apologies @punkish but I don't have a good answer. I'll have to take a deeper look at UI and get better understanding of it to give you feedback.

[2019-02-20 13:27] rossanthony commented on #564
@robmcguinness tried updating the UI to use handlebars 4.1.0, but the UI won't load now and get the following error in the console...

Looks like we'd need to also update the version of [swagger-ui.js](https://github.com/glennjones/hapi-swagger/blob/master/public/swaggerui/swagger-ui.min.js) it's using 2.1.4 and they are now on 3.20.8

[2019-02-20 14:07] robmcguinness commented on #564
@rossanthony good catch. it seems like this is going to be a bigger PR than anticipated. Updating the UI components is long overdue but a big problem with the UI is lack of testing so I wouldn't be confident in any changes.

At work I retrofit `hapi-swagger` to use https://github.com/z0mt3c/hapi-swaggered-ui (which seems up-to-date). Maybe that is something we can consider as a dependency for `hap

[2019-02-20 15:06] rossanthony commented on #564
@robmcguinness I agree, looks like this goes deeper than I originally thought and will require a refactor of the whole UI component of hapi-swagger.

That's an interesting point you make about retro fitting `hapi-swagger` to use `hapi-swaggered-ui`. Is this a relatively straightforward thing to do, without having to rely on a forked modified version of `hapi-swagger` in your production code?

I wo

[2019-02-20 18:26] robmcguinness commented on #564
@rossanthony I got the idea from another user https://github.com/glennjones/hapi-swagger/issues/495#issuecomment-358675357 (re-pasting here):

[code]

We could just use `swagger-ui-dist` but maybe we would just be recreating `hapi-swaggered-ui`. I'm all for anything that makes the UI maintenance easier.

[2019-02-21 08:05] punkish opened #567 "clarification needed: hapi-swagger vs hapi-swaggered + hapi-swaggered-ui"
I have been a (mostly) very satisfied user of this module `hapi-swagger`. Many thanks to the chef, and to everyone else who has helped me on this forum over the past many months. I am very grateful for it all.

However, I just noticed `hapi-swaggered` and its companion `hapi-swaggered-ui` project (I am late to all parties). A recurring theme on this (`hapi-swagger`) project seems to be that the ui

[2019-02-21 09:03] robmcguinness commented on #567
Hi @punkish,

1. I'm not familiar with `hapi-swaggered` but it seems very similar to this project. The UI component of this project and `hapi-swaggered-ui` is very similar as well. Check out my comments about the UI https://github.com/glennjones/hapi-swagger/issues/564#issuecomment-465588944 in another thread. As you can see the `hapi-swaggered-ui` UI can be use interchangeably with `hapi-swagger`

[2019-02-21 09:24] punkish commented on #567
Yes, I saw your comment and that is what, in part, inspired me to post this question. It also seems that `hapi-swaggered` is supporting OpenAPI 3.0. And, by separating the ui portion from the swaggerization, the project is possibly simpler to maintain.

[2019-02-21 10:09] robmcguinness commented on #567
Thanks for feedback. I agree that keeping the UI separate makes things simpler to maintain. I might start refactoring this project in a another branch to separate the UI from the swaggerization code.

I'm currently working to see why the test are breaking when upgrading to Joi 14+.

[2019-02-21 10:13] punkish commented on #567
Another point of comparison, this time of the network traffic:

hapi-swagger (this project): 31 requests 2.95 MB
hapi-swaggered-ui: 7 requests 1.38 MB

[2019-02-21 14:01] robmcguinness commented on #540
Notes about Joi v14 upgrade:

- there was a breaking change to **correctly apply labels to alternatives schemas** https://github.com/hapijs/joi/issues/1615: Error messages could look weird when you chain a label with an alternative, say `Joi.when('foo', { ... }).label('myLabel')`. Now it is correctly dealt with.
- consequently, one of the unit test for alternatives is breaking.

Expecting:

[code]

[2019-02-22 13:46] montumodi commented on #540
@robmcguinness When are we planning to publish the change for Joi upgrade. At the moment our documentaion try it now feature is broken because of this example thingy.

[2019-02-22 14:08] robmcguinness commented on #540
@montumodi no plans yet. Working through the broken test to understand if the `x-alternatives` logic that was in place before is valid anymore for Joi `v14`

[2019-02-22 18:22] rossanthony commented on #564
@robmcguinness thanks for the info on how to retro fit hapi-swaggered-ui into hapi-swagger.

This raises another question though; what is `hapi-swagger` offering which is not available in [hapi-swaggered](https://github.com/z0mt3c/hapi-swaggered) (the swagger json creation counterpart to `hapi-swaggered-ui`). Is there something supported in hapi-swagger that's not available in hapi-swaggered?

Als

[2019-02-22 19:31] robmcguinness commented on #564
@rossanthony I don't have a good answer about why two libraries exist that are very similar and I don't know the feature differences between the two. Some of the UI differences were cataloged here: https://github.com/glennjones/hapi-swagger/issues/567.

I haven't taken a look hard look at all the UI components but it's definitely something I want to clean-up. There are better ways to manage UI dep

[2019-02-28 15:18] Floby opened #568 "Use Joi.describe() to get information about examples"
#### Context

* *hapi-swagger version*: 9.3.1
* *any other relevant information*: Joi@14.x

#### What are you trying to achieve or the steps to reproduce?

Using a schema like this on a route
[code]

#### What result did you get?
a definition like this
[code]
#### What did you expect?
a definition like this

[code]

#### Additional info

This used to work with Joi@13. The current workaround is to

[2019-02-28 15:57] robmcguinness commented on #568
Adding somewhat related note: https://github.com/glennjones/hapi-swagger/issues/540#issuecomment-466009898

[2019-02-28 16:05] Floby commented on #568
Haha, I guess searching for "example" isn't an effective strategy to find
existing issues. Sorry about that.

Le jeu. 28 févr. 2019 à 16:58, robert mcguinness <notifications@github.com>
a écrit :

[2019-03-01 12:13] moander commented on #331
Hi guys,

Is it possible to set an option to avoid each array becoming a separate model? In my case it will reduce the number of models significantly.

[code]

The object above shows up like this in the swagger.json:
[code]

What I want is to reduce it to the following
[code]

[2019-03-01 16:34] Amgad-Atef-Mohamed opened #569 "how to send json data with formdata"
#### Context

* *hapi-swagger version* : 9.3.1
* *with hapi version*  :17.8.4

#### i'm trying to send json data with multipart/formdata and file upload

Describe your issue here, include example `route` or JOI schemas.

[code]

#### result i have got?
![capturesffsfsdf](https://user-images.githubusercontent.com/24962782/53651902-5acdd580-3c50-11e9-950e-07f40f87e6fb.PNG)

#### What i expect?
socia

[2019-03-01 19:06] Amgad-Atef-Mohamed opened #570 "file upload required not workng"
#### Context

* *hapi-swagger version*:  9.3.1
* *any other relevant information*: 17.8.4

#### What are you trying to achieve or the steps to reproduce?
i'm trying to make file upload required in swagger by this code snippet but not working.
because if i clicked try button without choose any file, the request that out form swagger in pic bellow.

Describe your issue here, include example `route`

[2019-03-06 13:19] mmiszy commented on #238
Is there any known solution to this problem in 2019?

[2019-03-06 15:25] mihalicyn opened #572 "Field examples not appear correctly in swagger.json and swagger-ui"
#### Context

* *hapi-swagger version*: 9.3.1
* *joi version*: 14.3.1

#### What are you trying to achieve or the steps to reproduce?

I'm using the next Joi field specification in my payload scheme:
[code]

#### What result did you get?
I've got scheme for all field with examples as:
[code]

#### What did you expect?
I'm expect:
[code]

[2019-03-06 15:47] farzadso commented on #238
@mmiszy I'm still doing the same thing as last year 😛

[2019-03-09 18:35] #572 closed

[2019-03-09 18:50] robmcguinness commented on #568
@Floby can you try with latest release?

[2019-03-10 15:10] robmcguinness commented on #540
https://github.com/glennjones/hapi-swagger/releases/tag/v9.3.2 contains compatibility fix for Joi 14 and examples.

[2019-03-12 15:07] laurilarjo commented on #540
v9.3.2 fixed the .example() issue for me and I was able to update joi to latest version. Thank you so much!

[2019-03-13 03:39] #540 closed

[2019-03-13 11:07] montumodi commented on #557
any tentative timeline for supporting hapi 18?

[2019-03-13 15:30] WesTyler commented on #557
Ack, sorry! Work kind of blew up on me just a few days after this. I'll try to prioritize finishing this asap

[2019-03-13 17:00] robmcguinness commented on #557
@WesTyler I think the tests that are breaking can be updated to support WHATWG url parsing. I don't see anything about `hapi-swagger` that is specific to the breaking changes defined in the `hapi@18` release notes. This lib should work with `hapi@17` and `hapi@18`.

[2019-03-13 17:04] robmcguinness commented on #557
For references the breaking tests were added: https://github.com/glennjones/hapi-swagger/pull/537

[2019-03-13 18:17] robmcguinness commented on #557
@WesTyler once the IP examples were updated the test passed without issues. I'll update **travis** to run both Hapi 17 and 18 unit tests.

[2019-03-13 18:34] montumodi commented on #557
There is a restriction of hapi 17 peer dependency in pacakge.json. I hope we will be modifying that so that both hapi 17 and 18 are supported.

[2019-03-13 18:38] robmcguinness commented on #557
@montumodi see https://github.com/glennjones/hapi-swagger/pull/574. Once test pass I will merge and publish.

[2019-03-13 18:40] #557 closed

[2019-03-13 18:47] robmcguinness commented on #557
@montumodi @WesTyler `hapi-swagger@9.4.0` was published. Let me know if there are any issues. Cheers 🍻

[2019-03-13 19:00] montumodi commented on #557
Thanks you so much for this. Really appreciate.

[2019-03-13 20:44] WesTyler commented on #557
Excellent, thanks @robmcguinness !

[2019-03-13 21:02] #417 closed

[2019-03-13 21:24] robmcguinness commented on #568
closing. please reopen if issue persist.

[2019-03-13 21:24] #568 closed

[2019-03-22 02:02] robmcguinness commented on #474
please reopen if the issue wasn't resolved.

[2019-03-22 02:02] #474 closed

[2019-03-22 13:12] laurilarjo opened #576 "Using empty .example('') is producing an incorrect result"
#### Context

* *hapi-swagger version*: 9.3.2

#### What are you trying to achieve or the steps to reproduce?

The 9.3.2 fixed (PR: https://github.com/glennjones/hapi-swagger/pull/573) the issue with Joi14, where .example('text here') notations caused incorrect behavior. But now I noticed that when I have an empty example value, it still causes the same incorrect behaviour. This did not happen wit

[2019-03-24 15:28] #576 closed

[2019-03-24 15:44] robmcguinness commented on #576
@laurilarjo please try `hapi-swagger@9.4.2`.

[2019-03-24 23:17] robmcguinness commented on #486
Closing since I haven't seen this issue running test on the latest version.

[2019-03-24 23:17] #486 closed

[2019-03-25 15:48] laurilarjo commented on #576
Wow that was fast! It works, thank you 👍

[2019-03-26 04:23] robmcguinness opened #577 "Upgrade to Joi 14"
Joi 14 forward labels alternatives to underlying schemas https://github.com/hapijs/joi/commit/7e0fea837fdc2d5bc938987dc4f12ad9ccde211c which causes `x-alternative` `$ref` labels to be applied incorrectly.

Expecting:
[code]

Actual:

[code]

It appears Joi.describe() is not associating the correct label when schema is:

[code]

[2019-03-26 12:17] robmcguinness commented on #577
https://github.com/glennjones/hapi-swagger/issues/283

[2019-03-29 08:41] moander commented on #262
@glennjones Is it possible to set the operationId manually per route?

[2019-03-29 13:24] robmcguinness commented on #262
@moander can you open separate issue and provide details about the problem you are trying to solve.

[2019-04-01 05:25] soumikp02 commented on #440
I am also facing the same issue.

` headers: joi
          .object()
          .keys({
            'Content-Type': joi
              .string()
              .required()
              .valid(['application/json'])
              .default('application/json'),
            'Accept': joi
              .string()
              .required()
              .valid(['application/json'])
              .default('a

[2019-04-04 11:45] anuraggupta816 opened #579 "hapi-swagger labels(tags) not showing"
#### Context
labels not Display in swagger Documentation
* *hapi-swagger version*:
* *any other relevant information*:

[2019-04-04 11:58] robmcguinness commented on #579
Can you provide more details about the issue? Example `joi` label that isn't working?

[2019-04-04 12:24] anuraggupta816 commented on #579
hapi: 17.8.5
hapi-swagger: 9.4.2
look the screen short
![s](https://user-images.githubusercontent.com/6351081/55555334-ae758800-5702-11e9-9a10-1efd2ae6c087.png)

[2019-04-04 12:27] robmcguinness commented on #579
i'm sorry what labels are missing?

[2019-04-04 12:30] anuraggupta816 commented on #579
![s2](https://user-images.githubusercontent.com/6351081/55555692-7e7ab480-5703-11e9-8244-523411e7041c.png)
like api/user

[2019-04-12 08:12] anuraggupta816 commented on #579
please help me how i can fix this bugs ?

[2019-04-12 08:21] anuraggupta816 commented on #579
Tags not display on documentation

[2019-04-28 15:49] tindecken opened #583 "Error Cannot find module '.\bin\test-server.js' while run `yarn start`"
#### Purpose: run examples of this project
#### Steps
1. Clone the repo (master branch)
2. Run command: yarn
3. Run command: yarn start

At step 3: It throw error

[code]

I'm not sure this is an issue or not. Please guide me how to play around with this project.

Many thanks,

[2019-04-29 00:57] robmcguinness commented on #583
It appears there used to be a folder called `.bin` with an example server for `npm start` back in `6.x`: https://github.com/glennjones/hapi-swagger/tree/v6.2.1

I'll add back.

[2019-04-29 10:21] montumodi opened #584 "hapi is now under @hapi/hapi which is breaking peer dependency check"
#### Context

* *hapi-swagger version*: latest
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce?

We are in process of updating all our projects to use @hapi/hapi instead of hapi as per guidelines from hapi. This change is breaking hapi-swagger peer dependency as it expects it to be hapi not @hapi/hapi. Is there any plan to change this?

We have to

[2019-04-29 11:46] robmcguinness commented on #584
Hi @montumodi. Updates are being done in this branch: https://github.com/glennjones/hapi-swagger/tree/feature/next which is targeting `v10`.

I'm not sure how to handle `peerDependencies` when the package name changes. Not sure if adding an `.npmrc` with the alias above in this packages fixes this problem for others. PRs welcome.

[2019-04-30 13:58] #583 closed

[2019-04-30 16:55] robmcguinness commented on #564
fixed in 636c2e06e87d9670f9ccabd1f197de39e5a647cc

[2019-04-30 16:57] robmcguinness commented on #566
the page title uses `info.title` from the options. sorry for late reply. as of now there is now way to change the background logo but I'm working on updates to the current UI and I'll try and account for it.

[2019-04-30 16:57] #566 closed

[2019-04-30 17:00] robmcguinness commented on #567
closing this since I've made updates to latest swagger ui in 636c2e06e87d9670f9ccabd1f197de39e5a647cc. Both hapi swagger ui libs provide similar features and the underlying core lib is the same `swagger-ui-dist`.

[2019-04-30 17:00] #567 closed

[2019-05-01 22:37] tenoriojuann commented on #360
+1 just ran into this issue

[2019-05-02 00:58] robmcguinness commented on #360
@fishmongr could you submit a PR with underlying tests? I wonder if this still applies with the latest version of `joi`.

[2019-05-02 01:09] robmcguinness commented on #443
UI is being upgraded in another branch https://github.com/glennjones/hapi-swagger/commit/2bebc7abf149391e691ce41b814fc93439f0b606. Slowly working through to try an minimize the breaking changes.